@charset "utf-8";
/* CSS Document */
.head_portrait {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	float: left;
}
.head_portrait img {
	width: 100px;
	height: 100px;
}
.portrait_text {
	font-size: 14px;
	float: left;
	margin-left: 48px;
	margin-top: 24px;
	color: #666666;
}
.portrait_btn {
	background-color: #5ecfba;
	width: 172px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 20px;
	cursor: pointer;
}
.portrait_btn:hover {
	background-color: #4cb8a4;
}
.head_portrait_box {
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: dotted 1.8px #d6d7dc;
	padding-bottom: 50px;
	width: 97%;
}
.game_ID span {
	float: left;
	color: #e87074;
	padding-top: 20px;
	margin-left: 10px;
}
.game_ID {
	font-size: 18px;
	color: #646464;
	margin-top: 50px;
	margin-left:20px;
}
.game_ID select{
	color: #646464;
}
#area_id, input, #area_grading {
	border: #e5e6e7 solid 1px;
	line-height: 40px;
	width: 80%;
	height: 40px;
	border-radius:1px;
}
.game_ID .game_ID_01 {
	float: left;
	margin-top: 0px;
}
.game_ID .game_ID_01 span {
	padding-top: 3px;
}
.game_ID .game_ID_01 i {
	font-size: 12px;
	text-align: center;
	margin-left: 20px;
}

.game_ID select,.game_ID input{font-size:14px;padding-left:12px;}
.submit_box {
	margin-top:50px;
	width: 230px;
	margin-left:26%;
}
.submit_box input {
	width: 230px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	border: none 0;
	cursor: pointer;
	font-size: 18px;
	margin-right:80px;
}
.problem {
	background-color: #e87074;
}
.problem:hover {
	background-color: #de494e;
}
.noproblem {
	background-color: #bdbdbd;
}
.noproblem:hover {
	background-color: #a09e9e;
}
.game_ID02 input {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	padding:0;
}
.game_ID02 i{
	font-size:18px;
	padding-bottom:20px;
	display: inline-block;
}
.img_ts input{color:#333333;}