@charset "utf-8";
/* CSS Document */
/*banner*/
body{background-color:#f4f4f6;}
.left_margin {margin-left: 240px;}
.gift_list_box{padding: 30px;}
.gift_record .gift_title{font-size: 25px;color: #222222;border-left: #222222 solid 8px;padding-left: 16px;margin-top: 40px;line-height:30px;}
.gift_list_box{min-width:1100px;background-color: #ffffff;margin-right: 80px;border-style: solid;border-width: 1px;border-color: rgb(232, 232, 232);box-shadow: 0px 3px 5px 0px rgba(113, 113, 113, 0.08);}
.gift_list_title{font-size: 20px;color: #333333;padding-bottom: 10px;}
.follow_hover{display: none;}
.all_pitch{font-size: 12px;color:#666666;line-height: 26px;margin-top: 2px;}
.all_pitch input{margin-top: 6px;width: 17px;height: 17px;margin-right: 4px;cursor: pointer;}
.follow_box,.follow_hover_box{color: #aaaaaa;font-size: 12px;border:#aaaaaa solid 1px;border-radius: 2px;margin-left:20px;width:78px;height:26px;line-height: 26px;text-align: center;cursor: pointer;border-radius: 3px;}
.follow_box:hover{background-color:#fd7c4f;color:#fff;border:#fd7c4f solid 1px;}
.follow_box:hover .follow{display: none;}
.follow_box:hover .follow_hover{display: inline-block;}
.follow_hover_box{background-color:#fd7c4f;color:#fff;border:#fd7c4f solid 1px;margin-left:0px;}
.follow_hover_box:hover{background-color:#de6439;}
.gift_list_border{border-bottom:#cccccc dashed 1px;margin-bottom: 20px;}
.follow_code_box{width:320px;height:120px;background-color:#f2f2f5;padding:22px;margin:0 9px;margin-top: 20px;position: relative;}
.follow_code_headimg{width:76px;height:76px;overflow: hidden;border-radius: 100px;border:#d5d5d5 solid 1px;}
.follow_code_headimg img{width:76px;height:76px;}
.follow_code_headimg_border{border-right:#d5d5d5 solid 1px;height: 120px;}
.follow_code_name{font-size:16px;color: #333333;}
.follow_runk{font-size: 12px;color: #999999;margin-top: 5px;margin-bottom: 15px;}
.vip_runk_01{color: #8e2929;font-size: 12px;position: absolute;margin-left: 30px;line-height: 30px;}
.vip_runk_02{color: #616c6d;font-size: 12px;position: absolute;margin-left: 30px;line-height: 30px;}
.vip_runk_03{color: #af5320;font-size: 12px;position: absolute;margin-left: 30px;line-height: 30px;}
.like_runk{margin-top: 7px;}
.follow_code_input{position: absolute;right:10px;top:10px;}
.follow_code_input input{width: 17px;height: 17px;cursor: pointer;display: none;}
.follow_code_bigbox{margin-left: -10px;min-height: 552px;}
.like_runk_box{display: none;}
.nofollow{display: none;text-align: center;padding-top:150px;}
@media screen and (max-width: 1919px) {
    .gift_list_box{margin-right: 10px;}  
}
@media screen and (max-width: 1866px) {
    .follow_code_box{width:20%;}
}
@media screen and (max-width: 1693px) {
    .follow_code_box{width:300px;}
    .gift_list_box{margin-right: 100px;}
}
@media screen and (max-width: 1556px) {
   .gift_list_box{margin-right: 10px;}
}
/*分页*/
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;margin-top: 60px;}

.tcdPageCode a{display: inline-block;color: #666666;display: inline-block;height: 25px; line-height: 25px;  padding: 0 10px;border: 1px solid #ddd; margin: 0 5px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #ff593e;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 5px;color: #fff;background-color: #ff593e;  border: 1px solid #ff593e;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 5px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;