@charset "utf-8";
/* CSS Document */
/*弹窗1*/
.pop_up_basic01 {
	background-color: #000;
	opacity: 0.5;
	height: 110%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	padding-bottom: 100px;
    margin-top: -120px;
}
.pop_up_basic {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	z-index: 99999;
	background-color: #fff;
	height: 660px;
	width:726px;
	margin: 0 auto;
	position: fixed;
	left: 35%;
	top: 15%;
}
.pop_up_basic .close {
	font-size: 42px;
	float: right;
	color: #888888;
	cursor: pointer;
	margin-top: -10px;
}
.pop_up_basic .close:hover {
	color: #de494e;
}
.basic_title {
	font-size: 18px;
	color: #333333;
	float: left;
	margin-top: 8px;
	color: #5b5b5b;
}
.basic_title_box {
	border-bottom: #e6e6e6 solid 1px;
	padding: 10px 16px 0px 20px;
}
.container {
	width: 400px;
	margin: 40px auto 0 auto;
	position: relative;
	font-family: 微软雅黑;
	font-size: 12px;
}
.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 550px;
	height: 30px;
	margin: 10px 0;
}
.cropped {
	position: absolute;
	right: -445px;
	top: 0;
	width: 275px;
	border: 1px #ddd solid;
	height: 610px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	position: relative;
	height: 550px;
	width: 550px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0; 
}
.keep_box{background-color:#999999;width:192px;height:52px;line-height:52px;font-size:18px;color:#fff;text-align:center;margin-top:30px;margin-right:20px;cursor:pointer;border:none 0; border-radius:4px;-webkit-border-radius:4px;}
.keep_box1{margin-left:-100px;background-color:#5ecfba;}
.keep_box1:hover{background-color:#47b5a1;}
.keep_box2:hover{background-color:#888888;}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 402px;
	height: 402px;
	margin-top: -201px;
	margin-left: -201px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{ float: right;
   width: 66px;
  display: inline-block;
  margin-bottom: 10px;
  height: 57px;
  line-height: 57px;
  font-size: 20px;
  color: #FFFFFF;
  margin:0px 10px;
  background-color: #5ecfba;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #B0B0B0;
  border: 0px #fff solid;}
/*选择文件上传*/
.new-contentarea {
	width: 165px;
	overflow:hidden;
	margin: 0 auto;
	position:relative;float:left;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:188px;
	height:60px;
	background:#333;
	margin: 0 auto;
	position:absolute;
	right:50%;
	margin-right:-94px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}
a.upload-img{
	width:165px;
	display: inline-block;
	margin-bottom: 10px;
	height:57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #5ecfba;
	border-radius: 3px;
	text-decoration:none;
	cursor:pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}
a.upload-img:hover{
	background-color: #ec7e70;
}
@media (max-width : 1366px){ 

	.pop_up_basic {
		height: 600px;
		width: 692px;
		left: 26%;
		top: 0%;
	}
	.cropped {
	height: 409px;

	}
	.imageBox {
	height: 350px;
	width: 350px;
	}
}
