body{
	background-color: #f6f6f6;
}
.swrap{
	width: 1200px;
	margin:0 auto;
    padding-top: 20px;
}
.searchTop{
	width: 100%;
	background-color: #fff;
}
.searchTop .topcon{
	width: 1200px;
	margin:0 auto;
	padding-top:24px;
	text-align: center;
}
.searchTop>a img{
	width: 1200px;
	height: auto;
}
.restit{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #ff4e67;
	margin:22px auto 0px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ff4e67;
}
/*é™ªçŽ©å¡ä¿¡æ¯*/
.player{
    width:100%;
    margin-top: 20px;
}
.hot-player-con{
    padding: 0px 20px;
    min-height: 50px;
    font-size: 0;
}
.hot-player-con>div{
    display: inline-block;
    position: relative;
    width: 270px;
    height: 330px;
    background-color: #fff;
    margin:0px 26px 30px 0px;
    border-radius: 4px;
}
.hot-player-con>div:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    animation:pulse 2s;
    -webkit-animation:pulse 2s;
    -o-animation:pulse 2s;
    -moz-animation:pulse 2s;
    -ms-animation:pulse 2s;
}
.hot-player-con .status{
    position: absolute;
    top:7px;left: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color:#fff;
    padding:1px 12px 1px 25px;
    border-radius:10px 10px 10px 10px/10px 10px 10px 10px;
}
.hot-player-con .status.online{
    background:rgba(0,0,0,.5) url(../images/online.png)10px center no-repeat;
}
.hot-player-con>div:nth-child(4n){
    margin-right:0px;
}
.hot-player-con>div a .pic_box{
    width: 270px;height: 270px;
    overflow:hidden;
    position:relative;
}
.hot-player-con>div .pic_img{
    display: block;
    width: 270px;height: 270px;
}
/*æ–°å¢žæŠ˜æ‰£*/
.hot-player-con>div .zhe-kou{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
}
.hot-player-con>div .zhe-kou>div{
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    height:22px;
    line-height:22px;
    text-align:right;
    background:rgba(219,28,28,.8);
    border-top:solid 1px #ff9600;
    color:#fff;
}
.hot-player-con>div .zhe-kou>div p{
    position:absolute;
    width:80px;
    height:27px;
    line-height:27px;
    text-align:center;
    left:6px;
    top:-6px;
    background:url("../images/ico_29_hover.png") no-repeat;
}
.hot-player-con>div .zhe-kou>div p span{
    font-weight:bold;
}
.player-info{
    width: 100%;
    /*padding-top: 10px;*/
    overflow: hidden;
    /*margin-bottom: 10px;*/
}
.player-info span{
    display: inline-block;
}
.player-info span:nth-child(1){
    font-size: 16px;
    color:#646464;
    margin-left: 8px;
    float: left;
    margin-bottom: 6px;
    margin-top: 6px;
}
.player-info span .guanming {
    display: inline-block;

}
.player-info span img {
    margin: 0 2px;
    width: 18px;
    height: auto;
    vertical-align: top;
}
.player-info span .text {
    vertical-align: top;
    font-style: normal;
}
.player-info span:nth-child(2){
    padding:2px 5px;
    border-radius: 4px;
    background-color: #FF7D7B;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    color:#fff;
    font-size: 12px;
}
.player-info span:nth-child(3){
    padding:2px 5px;
    border-radius: 4px;
    background-color: #4fc1c8;
    float: right;
    margin-right: 6px;
    margin-top: 6px;
    color:#fff;
    font-size: 12px;
}
.player-money{
    overflow: hidden;
}

.player-money > p{
    float: right;
    margin-right: 6px;
    font-size: 12px;
    color: #999;
}
.player-money>p span{
    color: #ff6072;
    font-size: 14px;
}
.player-money div {
    float: left;
    margin-left: 10px;
}
.player-money  div i {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
}
.player-money div span {
    font-size: 14px;
}
.player-money .on_line i {
    background: url(../images/online.png) no-repeat;
}
.player-money .working i {
    background: url(../images/online.png) no-repeat;
}
.player-money .off_line i {
    background: url(../images/offline.png) no-repeat;
}
/*.hot-player-con .status.online{
    background:rgba(0,0,0,.5) url(../../img/index/online.png)10px center no-repeat;
}.hot-player-con .status.offline{
    background:rgba(0,0,0,.5) url(../../img/index/offline.png)10px center no-repeat;
}.hot-player-con .status.working{
    background:rgba(0,0,0,.5) url(../../img/index/working.png)10px center no-repeat;
}*/


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/*è¾¹æ¡†ã€è§’æ ‡*/
.frame_logo_wrapper {
    position: relative;
    width: 270px;
    height: 270px;
}
.frame_logo_wrapper .img_frame {
    width: 286px;
    height: 300px;
    top: -21px;
    max-width: 286px;
}
.frame_logo_wrapper .pic_box .pic {
    width: 270px;
    height: 270px;
    border-radius: 4px 4px 0 0;
    transition: 0.36s ease;
}