@charset "utf-8";

#user_center_box {
    background: url(../img/top_bg.jpg) repeat-x top;
    margin-left: 220px;
    padding: 30px;
    background: #f3f3f3;
    margin-top: -20px;
    min-height: 880px;
}
body {
    background: #f3f3f3;
}

.icon_bg_02 {
    background-image: url(../img/icon_bg_02.png?3);
    background-repeat: no-repeat;
}

#Security_box {
    min-width: 1159px;
    margin-top: 30px;
}

#Security_box .Security_left {
    background-color: #fff;
    color: #333333;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 30px;
    min-height:810px;
}

#Security_box .Security_title {
    color: #333333;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: #f3f3f3 solid 1px;
    margin-top: -6px;
    font-weight:bold;
}

#Security_box .star_01 {
    width: 26px;
    height: 40px;
    background-position: -5px 0;
}

#Security_box .star_02 {
    width: 26px;
    height: 40px;
    background-position: -37px 0;
}

#Security_box .star_04 {
    width: 26px;
    height: 40px;
    background-position: -75px 0;
}

#Security_box .star_03 {
    width: 26px;
    height: 40px;
    background-position: -109px 0;
}

#Security_box .star_title {
    font-size: 14px;
    color: #333333;
    margin-top: 4px;
}

#Security_box .star_title_box {
    margin-top: 40px;
    margin-left: 30px;
}

#Security_box .star_text01 {
    color: #25e198;
    font-size: 16px;
    margin-top: -4px;
}

#Security_box .star_text01 span {
    font-size: 34px;
    font-weight: bold;
    font-family: Arial;
}

#Security_box .star_text02 {
    color: #e7e53a;
}

#Security_box .star_text03 {
    color: #ff7b47;
}

#Security_box .user_name01 {
    width: 43px;
    height: 36px;
    background-position: -139px 0;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 30px;
}

#Security_box .user_name_01 {
    width: 167px;
}

#Security_box .user_name_box {
    height: 90px;
    line-height: 90px;
    border-bottom: #f3f3f3 solid 1px;
}

#Security_box .user_name02 {
    width: 43px;
    height: 36px;
    background-position: -182px 0;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 28px;
}

#Security_box .user_name002 {
    background-position: -182px -47;
}

#Security_box .user_name03 {
    width: 43px;
    height: 36px;
    background-position: -226px 0;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 30px;
}

#Security_box .user_name003 {
    background-position: -226px -47px;
}

#Security_box .user_name05 {
    width: 43px;
    height: 36px;
    background-position: -315px 0;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 30px;
}

#Security_box .user_name005 {
    background-position: -315px -47px;
}

#Security_box .user_name {
    width: 43px;
    height: 36px;
    background-position: -53px -48px;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 31px;
}

#Security_box .user_name04 {
    width: 43px;
    height: 36px;
    background-position: -268px 0;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 30px;
}

#Security_box .user_name004 {
    background-position: -268px -48px;
}

#Security_box .user_cousor {
    cursor: pointer
}

#Security_box .user_cousor:hover {
    color: #0aca7f;
    text-decoration: underline;
}

#Security_box .user_color {
    color: #666666;
}

#Security_box .display_none {
    color: #fc848a;
    cursor: pointer;
    text-decoration: underline;
}

#Security_box .display_none:hover {
    color: #fa323c;
}


/*弹窗*/

.pop_up_bg {
    background-color: #000;
    opacity: 0.8;
    height: 110%;
    width: 100%;
    position: fixed;
    z-index: 1000;

}

#Modify_password .password_cell {
    color: #6f6983;
    width: 360px;
    height: 492px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 40%;
    top: 18%;
    padding: 18px 42px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.layer-cell-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.layer-cell-close:before,
.layer-cell-close:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -3px;
    width: 27px;
    height: 2px;
    border-radius: 2px;
    background-color: #726f7d;
}

.layer-cell-close:hover:before,
.layer-cell-close:hover:after {
    background-color: #000;
}

.layer-cell-close:before {
    transform: rotate(45deg);
}

.layer-cell-close:after {
    transform: rotate(-45deg);
}

.input_box {
    display: block;
    width: 350px;
    height: 44px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: #e8e8e8 solid 1px;
    padding-left: 10px;
}

.input_box:focus {
    border: #25e198 solid 1px;
}

.input_text {
    color: #666666;
}

.input_title {
    color: #333333;
    font-size: 20px;
    text-align: center;
}

.input_text span {
    color: #999999;
    font-size: 14px;
}

#Modify_password .input_sure {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #25e198;
    line-height: 46px;
    height: 46px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    width: 360px;
}

#Modify_password .input_sure:hover {
    background-color: #0aca7f;
}

#Modify_mobile .mobile_cell {
    color: #6f6983;
    width: 450px;
    height: 300px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 40%;
    top: 30%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

#Modify_mobile .input_sure {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #25e198;
    line-height: 46px;
    height: 46px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
}

#Modify_mobile .input_sure:hover {
    background-color: #0aca7f;
}

#Modify_mobile .mobile_01 {
    font-size: 16px;
    color: #333333;
    text-align: center;
}

#Modify_mobile .mobile_02 {
    font-size: 14px;
    color: #999999;
    text-align: center;
}

#Modify_alipay .alipay_cell {
    color: #666666;
    width: 810px;
    height: 570px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 24%;
    top: 10%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 40px 80px;
}

.input_box01,
.input_box02 {
    line-height: 44px;
    background-color: #ebefee;
}

.input_box02 {
    color: #25e198;
    text-decoration: underline;
    cursor: pointer;
}

.input_validate {
    display: block;
    width: 140px;
    height: 44px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: #e8e8e8 solid 1px;
    padding-left: 10px;
}

.input_validate01 {
    width: 100px;
    height: 38px;
    background-color: #25e198;
    border: #25e198 solid 1px;
    color: #fff;
    text-align: center;
    margin-top: 4px;
    cursor: pointer;
    padding-left: 0px;
}

#Modify_alipay .input_validate02 {
    width: 100px;
    height: 38px;
    border: #25e198 solid 1px;
    color: #fff;
    text-align: center;
    margin-top: 4px;
    cursor: pointer;
    background-color: #fff;
}

.input_validate01:hover {
    background-color: #0aca7f;
}

#Modify_alipay .input_box {
    width: 320px;
}

.input_sure {
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #25e198;
    line-height: 46px;
    height: 46px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    width: 320px;
}

.input_sure:hover {
    background: #0aca7f;
}

.Alipay {
    margin-top: 10px;
    margin-left: 100px;
}

#Modify_wechat .wechat_cell {
    color: #666666;
    width: 810px;
    height: 570px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    left: 24%;
    top: 10%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 40px 80px;
}

#Real_name .Real_name {
    color: #666666;
    width: 740px;
    height: 740px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    left: 30%;
    top: 2%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 60px;
}

#Real_name .input_sure {
    margin: 0 auto;
    margin-top: 40px;
}

#Real_name .Real_title {
    font-size: 20px;
    color: #333333;
}

#Real_name .pop_up_bg {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    position: absolute;
    z-index: 99998;
    height: 110%;
}

#Real_name .breviary_add {
    height: 140px;
    width: 140px;
    border-radius: 4px;
    border: #e5e6e8 solid 1px;
    text-align: center;
    color: #666666;
    cursor: pointer;
}

#Real_name .breviary_add span {
    font-size: 110px;
    color: #999999;
    font-family: 宋体;
    line-height: 34px;
    display: block;
    margin-top: 40px;
}

#Real_name .breviary_add:hover span {
    color: #25e198;
}

#Real_name .breviary_add:hover {
    color: #25e198;
    border: #25e198 solid 1px;
}

.file_01 {
    display: block;
    width: 140px;
    height: 140px;
    margin-top: -102px;
    background-color: #000;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#Real_name .breviary_title {
    font-size: 16px;
    color: #666666;
}

#Real_name .breviary_title span {
    font-size: 14px;
    color: #999999;
}

#Real_name .id_card_box {
    font-size: 14px;
    color: #666666;
    margin-top: 40px;
    margin-left: 35px;
}

#Real_name .id_card_box span {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

#Real_name .img_box {
    border-radius: 6px;
    overflow: hidden;
    width: 160px;
    height: 136px;
}

#Real_name .img_box img {
    width: 160px;
    height: 136px;
}

#Bound_phone .Bound_cell {
    color: #666666;
    width: 360px;
    height: 440px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    left: 40%;
    top: 20%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 40px 60px;
}

#Bound_phone .input_sure {
    width: 360px;
}