@charset "utf-8";
/* CSS Document */
.body_bg{ background-color:#ffe2e2;font-size: 16px;}
.index_banner_bg{ background: url(../images/women.jpg) no-repeat top center;background-size: 100%;padding-top: 30px;padding-bottom: 120px;}
.index_banner_bg .top_bg{width:1226px;margin:0 auto;background-color:#fff;background-color:rgba(255,255,255,0.8);;height:108px;border-radius: 50px;box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);border-style: solid 1px rgb(229, 229, 229);}
.index_banner_bg .top_left{width:390px;}
.index_banner_bg .top_center{width:400px;height: 70px;
    overflow: hidden;}
.index_banner_bg .top_right{width:265px;}
.index_banner_bg .top_head_img{width:78px;height:78px;border-radius:100px;overflow: hidden;margin-top: 14px;margin-left: 30px;}
.index_banner_bg .top_head_img img{width:78px;height:78px;}
.index_banner_bg .top_immortal_text{font-size: 16px;color:#333333;}
.index_banner_bg .top_progress_box{width:196px;position: relative;height:4px;margin-top: 12px;}
.index_banner_bg .top_progress_bg{width:100%;background-color: #dbdbdb;border-radius: 25px;height:4px;}
.index_banner_bg .top_progress_top{width:20%;background-color: #ff593e;border-radius: 25px;position: absolute;left:0;top:0;height:4px;}
.index_banner_bg .top_usercp_text{font-size: 14px;color:#999999;margin-top: 10px;}
.index_banner_bg .top_usercp_text img{vertical-align: sub;}
.index_banner_bg .top_usercp_jibie{margin-top: 4px;margin-left: 14px;}
.index_banner_bg .top_center{font-size: 14px;color:#666666;padding-top: 15px;margin-left: 60px;margin-right: 60px;}
.index_banner_bg .top_center_time{color:#999999;margin-right: 6px;}
.index_banner_bg .top_center_text span{color:#fe745e;}
.index_banner_bg .top_center_text a span:hover{text-decoration: underline;}
.index_banner_bg .top_center_subbox,.index_banner_bg .center_img{height:30px;}
.index_banner_bg .top_center_subbox{padding:2px;}
.index_banner_bg .top_center_box{position: absolute;}
.index_banner_bg .top_center_bigbox{position: relative;}
.index_banner_bg .center_img{margin-top: 4px;margin-left: 3px;}
.index_banner_bg .top_right{padding-top: 25px;}
.index_banner_bg .top_follow,.index_banner_bg .top_wechat,.index_banner_bg .top_share,.index_banner_bg .top_follow_no,.index_banner_bg .top_follow_ed{width:76px;height:26px;line-height: 26px;text-align: center;border-radius: 3px;font-size:14px;cursor: pointer;}
.index_banner_bg .top_wechat{border:#3eb135 solid 1px;color:#3eb135;}
.index_banner_bg .top_share{border:#ff593e solid 1px;color:#ff593e;}
.index_banner_bg .top_follow{border:#ff593e solid 1px;color:#fff;background-color: #ff593e;}
.index_banner_bg .top_follow_no{background-color: #aaaaaa;border:#aaaaaa solid 1px;color:#fff;}
.index_banner_bg .top_follow_ed{background-color: #fd7c4f;border:#fd7c4f solid 1px;color:#fff;}
.index_banner_bg .top_women{font-size: 12px;color:#999999;margin-top: 14px;}
.top_usercp_jibie span{position: absolute;margin-top: -21px;margin-left: 29px;font-size: 12px;}
.top_usercp_jibie .color_01{ color: #8e2929;}
.top_usercp_jibie .color_02{color: #616c6d;}
.top_usercp_jibie .color_03{ color: #af5320;}
/*左边top*/
.content_center{width:1240px;margin:0 auto;}
.content_center_left{width:450px;}
.content_center_left .content_center_left_subbox{ background-color:#fff;background-color:rgba(255,255,255,0.8);margin-left:4px;}
.content_center_left .content_left_top_big_img{width: 446px;height:446px;overflow: hidden;}
.content_center_left .content_left_top_big_img .fancybox img{width: 100%;}
.content_center_left .content_left_top_sub_img{width:72px;height:72px;overflow: hidden;margin:0 11px;cursor: pointer;border:#fff solid 2px;border-radius: 2px;}
.content_center_left .content_left_top_sub_img img{width:72px;height:72px;}
.content_center_left .content_left_top_sub_img_add{border:#ff6147 solid 2px;border-radius: 2px;}
.content_center_left .content_left_top_sub_img_box{position: absolute;}
.content_center_left .content_left_top_sub_img_bigbox{position: relative;width:392px;height:78px;overflow: hidden;}
.content_center_left .left_btn,.right_btn{height:60px;cursor: pointer;}
.content_center_left .content_left_top_big_img,.content_left_test_head_box{position: relative;cursor: pointer;}
.content_center_left .content_left_magnifier_box{position: absolute;bottom:0;width:100%;background-color:#fff;background-color:rgba(0,0,0,0.2);padding: 10px 0;}
.content_center_left .content_left_magnifier_text{line-height:24px;font-size: 14px;color:#fff;width: 368px;}
.content_center_left .content_left_magnifier_img{line-height:24px;cursor: pointer;}
.content_center_left .content_left_play{position: absolute;width:450px;height:450px;background-color:#fff;background-color:rgba(0,0,0,0.2);text-align: center;line-height:450px;left:0;top:0;}
.content_center_left .content_left_test_head_box{width:100%;height:100%;}
.content_center_left .content_left_test_head_box .content_left_play{position:absolute;width:72px;height:72px;background-color:#fff;background-color:rgba(0,0,0,0.2);text-align: center;line-height:72px;left:0;top:0; }
.content_center_left .content_left_test_head_box .content_left_play img{width:26px;height:26px;}
/*礼物区域显示项*/
.content_center_left .content_left_gift_bg{background-color:#1e1c17;width:446px;height:64px;color: #fff;font-size: 14px;}
.content_center_left .content_left_present_box{border-right:#3a3a3a solid 1px;line-height: 64px;padding-right:10px;cursor: pointer;width:134px;}
.content_center_left .gift_test img{vertical-align: sub;}
.content_center_left .gift_test_box:hover{color:#ff593e;}
.top_kong_img_ing_hover,.top_kong_img_hover{display: none;}
.content_center_left .gift_test_box:hover .top_kong_img_ing{display: none;}
.content_center_left .gift_test_box:hover .top_kong_img_ing_hover{display: inline-block;}
.content_center_left .gift_test_box{text-align: center;}
.content_center_left .top_kong{line-height: 34px;background-color: #2a2a2a;height:34px;border: #393733 solid 1px;margin-top: 14px;}
.content_center_left .top_kong input{background-color: #2a2a2a;height:34px;padding:0 10px;width:88px;line-height: 34px;color:#fff;}
.content_center_left .top_kong_img{line-height: 34px;}
.content_center_left .top_kong_hover_box{cursor: pointer;}
.content_center_left .top_kong_hover_box:hover .top_kong_img_hover{display:inline-block;}
.content_center_left .top_kong_hover_box:hover .top_kong_img{display:none;}
.content_center_left .top_box{ background-color:#ff593e;width:100px;height:34px;border-radius: 4px;line-height: 34px;margin-top: 14px;cursor: pointer;}
.content_center_left .top_box:hover{background-color:#e0472f;}
.content_center_left .top_box_give{width:80px;text-align: center;line-height: 34px;border-right:#d34831 solid 1px;}
.content_center_left .top_box_give_img{text-align: center;width:18px;}
/*礼物隐藏项*/
.content_center_left .gift_pirce{position: absolute;top: -20px;
    left: 21px;}
.content_center_left .gift_pirce_text{position: absolute;top: -70px;left: -35px;z-index: 22;font-size: 12px;width: 120px;background-color:#c3ac86;padding: 10px 5px;
    line-height: 20px;text-align: left;}
    .content_center_left .gift_pirce_text_02{top: -90px;}
.content_center_left .gift_pirce_box{display: none;}
.content_center_left .content_left_gift_blackbg{position: absolute;background:url(../images/gift_bg.png) no-repeat top center; top: -248px;
left: 0px;width:446px;height:250px;cursor: pointer;}
.content_center_left .content_left_gift_bg_box{position: relative;}
.content_center_left .content_left_gift_02{position: relative;width:64px;height:84px;border-radius: 4px;text-align: center;line-height: 18px;border:transparent solid 2px;margin:0 6px;margin-top: 10px;font-size: 12px;}
.content_center_left .content_left_gift_02_add{border:#ff593e solid 2px;}
.content_center_left .content_left_gift_02:hover{border:#dddddd solid 2px;}
.content_center_left .content_left_padding{padding:10px 20px;}
.content_center_left .gift_01_img_height{height:60px;line-height: 60px;text-align: center;}
.yuewanbi{position: absolute;
    margin-top: -16px;
    font-size: 12px;
    color: #cccccc;
    margin-left: 10px;}
/*内容左边下侧项*/
.content_center_left .content_left_bttom_box{padding:25px;background-color:#fff;background-color:rgba(255,255,255,0.96);margin-top:20px;}
.content_center_left .content_left_bttom_tab{cursor: pointer;padding: 5px;font-size: 18px;color:#333333;}
.content_center_left .content_left_bttom_tab_add{color: #ff593e;border-bottom: #ff593e solid 2px;}
.content_center_left .question{color: #333333;font-size: 18px;}
.content_center_left .answer{color: #999999;font-size: 18px;}
.content_center_left .question img,.content_center_left .answer img,.content_center_left .see_img_box img{vertical-align: sub;}
.content_center_left .question,.content_center_left .question_box{padding-bottom: 15px;}
.content_center_left .question_box{margin-top:20px;border-bottom: #dddddd 1px dashed;}
.content_center_left .see_img_box{font-size: 14px;color:#999999;text-align: center;}
.content_center_left .see_text_btn,.content_center_left .see_text_btned{width:76px;height:28px;line-height: 28px;text-align: center;border-radius:25px;font-size: 14px;cursor: pointer;}
.content_center_left .answer_box{width:300px;}
.content_center_left .see_text_btned{border: #ff593e solid 1px;color: #ff593e;}
.content_center_left .see_text_btned:hover{border: #f43a1c solid 1px;color: #f43a1c;}
.content_center_left .see_text_btn{background-color: #ff593e;color:#fff;}
.content_center_left .see_text_btn:hover{ background-color: #f43a1c; }
.content_center_left .question_bigbox{height:218px;overflow-y: scroll;overflow-x: hidden;margin-top: 10px;}
.content_center_left .question_bigbox::-webkit-scrollbar { width: 6px;}
.content_center_left .question_bigbox::-webkit-scrollbar-track { background: #d6d7dc; border-radius: 20px;   }
.content_center_left .question_bigbox::-webkit-scrollbar-thumb { background: #ff593e;border-radius: 20px; }
.content_center_left .question_bigbox::-webkit-scrollbar-corner {background: green;}
.content_left_bttom_span{    display: block;
    line-height: 42px;
    font-size: 22px;
    margin-right: 10px;}
 /*红包*/
.content_center_left .textarea_box{border: #dddddd solid 1px; border-radius: 4px;overflow: hidden;height:140px;}
.content_center_left .textarea_box textarea{height:120px;background-color: #f6f6f6;padding:10px;width:380px;text-align: left;}
.content_center_left .content_left_bttom_kickback{height:50px;background-color: #ff593e;color:#fff;font-size: 18px;text-align: center;line-height: 50px;border-radius: 4px;margin-top: 20px;cursor: pointer;}
.content_center_left .content_left_bttom_kickback:hover{ background-color: #e63a1e; }
.content_center_left .content_left_bttom_kickback_cue{color:#ff593e;font-size: 12px;text-align: center;margin-top: 16px;}
.content_center_left .content_left_bttom_kickbac_copyright{color:#999999;font-size: 12px;text-align: center;}
/*资料*/
.content_center_left .content_left_bttom_content{position: relative;}
.content_center_left .content_left_bttom_content .data_01{font-size:14px;color:#666666;line-height: 50px;}
.content_center_left .content_left_bttom_content .data_01 span{color: #333333;margin-left: 10px;}
.content_center_left .wechat_box{position: absolute;width:120px;height:42px;right:0;top:12px;background-color: #22ac38;color:#fff;border-radius: 25px;line-height: 42px;text-align: center;font-size: 14px;cursor: pointer;}
.content_center_left .wechat_box:hover{background-color: #139628;}
.content_center_left .wechat_box_ed{position: absolute;height:30px;right:0;top:12px;color:#666666;line-height: 30px;text-align: center;font-size: 14px;cursor: pointer;}
/*礼物*/
.content_center_right{width:770px;}
.content_center_right .gift_top_bigbox{background-color:#fff;background-color:rgba(255,255,255,0.8);border:#dddddd solid 1px;box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);padding:0 10px;height:200px;width: 740px;}
.content_center_right .gift_top_box{padding-bottom:10px;border-bottom: #dddddd dashed 1px;border-radius: 4px;}
.content_center_right .gift_bottom_box{padding-bottom:15px;}
.content_center_right .gift_top_img,.content_center_right .gift_bottom_img{text-align: center;font-size: 12px;color:#333333;width:70px;line-height: 30px;padding-top: 20px;}
.content_center_right .gift_top_img{width: 43px;padding-left: 12px;}
.content_center_right .gift_bottom_img{width: 56px;margin-left: 10px;}
.content_center_right .gift_bottom_img_height{width: 74px;height: 62px;text-align: center;line-height: 62px;}
.content_center_right .gift_bottom_img_text{color:#fff;background-color:#cbcbcb;display: inline-block;border-radius: 3px;text-align: center;font-size: 12px;padding:0 3px;min-width: 30px;}
.content_center_right .gift_bottom_img_height_box{text-align: center;cursor: pointer;border: rgba(255,255,255,0) solid 1px;width: 74px;border-radius: 4px;margin-left:5px;
        height: 87px;
    margin-top: 7px;}
.content_center_right .gift_bottom_img_height_box:hover{border: #dddddd solid 1px; background-color: #f4f4f6;}
.content_center_right .gift_bottom_img_height_box_add{border: #dddddd solid 1px; background-color: #f4f4f6;}
.content_center_right .test_head{width:45px;height:45px;overflow:hidden;border-radius: 100px;}
/*鼠标经过显示*/
.gift_btntop{background-color:#000;background-color: rgba(0,0,0,0.85);padding:10px 20px;min-width: 176px;z-index: 111;margin-top:12px;border-radius: 4px;margin-left: -61px;padding-bottom: 20px;display:none;position: absolute;}
.gift_btntop_img{margin-top: -26px;margin-left: -20px;}
.gift_btntop_text_box{font-size: 12px;color: #999999;text-align: left;line-height: 24px;}
.gift_btntop_text_type{font-size: 16px;color:#d1d1d1;margin-top: 10px}
.gift_btntop_end{color: #D41E00;text-align: left;}
/*鼠标经过显示-end*/
.content_center_right .test_head img{width:45px;height:45px;}
.content_center_right .one_top_img_box{position: relative;}
.content_center_right .one_top_img,.one_bottom_img{position:absolute;}
.content_center_right .one_top_img{top: -10px;left: -5px;}
.content_center_right .one_bottom_img{bottom: -2px;left: -4px;}
.content_center_right .one_bottom_text{text-align: center;font-size: 12px;color: #666666;margin-top: 5px;width: 54px;overflow: hidden;height: 15px;font-family: sans-serif;}
.content_center_right .value_bottom_bg_text{text-align: center;font-size: 12px;color:#666666;}
.content_center_right .value_bottom_bg_text_top{text-align: center;font-size: 12px;color:#999999;}
.content_center_right .value_bottom_bg_box{width:50px;height:6px;margin-top: 8px;margin-bottom: 8px;position: relative;}
.content_center_right .value_bottom_bg{width:100%;background-color:#e4e4e4;height:6px;border-radius: 25px;position: absolute;}
.content_center_right .value_bottom_top{width:40%;background-color:#ff593e;height:6px;border-radius: 25px;position: absolute;top:0;left:0;z-index: 50}
.content_center_right .ranking_box{width: 119px;text-align: right;margin-left: 18px;}
/*下单区域*/
.content_center_right .content_center_right_order{width:760px;background-color:#fff;background-color:rgba(255,255,255,0.96);border:#dddddd solid 1px;box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);}
.content_center_right .content_center_right_nav{width:108.57px;text-align: center;cursor: pointer;line-height: 48px;text-align: center; border-top:#f2f2f2 solid 2px;font-size: 16px;color: #666;}
.content_center_right .content_center_right_navbox{ background-color: #f2f2f2;width:760px;}
.content_center_right .content_center_right_nav_add{border-top:#ff593e solid 2px;background-color:#fff;background-color:rgba(255,255,255,0.8);color: #333;}
.content_center_right .content_center_right_content{padding:30px;position: relative;}
.content_center_right .content_center_right_content .yizhe{position: absolute;top: 14px;
    right: -8px;}
.content_center_right .content_center_right_content .yizhe  .yizhe_text{    position: absolute;
    top: 6px;
    left: 23px;
    font-size: 14px;
    color: #fff;}
.content_center_right .play_btn_box{ background-color: #1dd3b8;color:#fff;width: 100px;height: 25px;border-radius: 25px;font-size: 12px;text-align: center;line-height: 25px;cursor: pointer;}
.content_center_right .play_btn_box:hover{ background-color: #13bfa6;}
.content_center_right .play_btn_box span{margin-left:8px;margin-right: 18px;}
.content_center_right .play_btn_box .play_btn{vertical-align:sub;}
.content_center_right .lol_name{font-size: 24px;color:#333333;}
.content_center_right .lol_grading{width:86px;height:25px;background-color: #e0e0e0;color:#666666;border-radius: 4px;text-align: center;line-height: 25px;margin-top: 12px;margin-bottom: 10px;font-size: 14px;}
.content_center_right .lol_order{font-size:12px;color: #666666; }
.content_center_right .lol_order span{margin-left: 6px;}
.content_center_right .lol_order img{vertical-align: sub;}
.content_center_right .money_pocket{font-size: 19px;color:#999999;}
.content_center_right .money_pocket span{color:#ff593e;font-size: 34px;}
.content_center_right .money_original{font-size: 14px;color:#999999;text-decoration: line-through;margin:5px 0;}
.content_center_right .money_pocket_box{text-align: right;margin-top: 20px;}
.content_center_right .money_pocket_small,.money_pocket_bg{width:150px;height:38px;line-height: 38px;text-align: center;border-radius: 25px;color:#fff;cursor: pointer;}
.content_center_right .money_pocket_small{ background-color: #1dd3b8;border-bottom:#13bfa6 solid 4px;margin-top: 10px; }
.content_center_right .money_pocket_bg{ background-color: #ff593e;border-bottom:#da4e38 solid 4px;margin-left: 20px; margin-top: 10px;}
.content_center_right .money_pocket_small:hover{background-color: #13b79f;}
.content_center_right .money_pocket_bg:hover{background-color: #e6462c;}
/*介绍*/
.content_center_right .introduce_box{ font-size: 14px;color:#666666;padding-top: 25px;border-top:#dddddd 1px dashed;margin-top: 25px;}
.content_center_right .introduce_title{font-size: 14px;color:#999999;}
.content_center_right .introduce_title span{font-size: 18px;color: #333333;font-weight: bold;margin-right: 10px;}
.content_center_right .introduce_text_box{line-height: 40px;margin-top: 15px;}
.content_center_right .introduce_text_box img{width: 710px;}
.content_center_right .appraise_grade{font-size: 14px;color:#666666;}
.content_center_right .appraise_grade span{color:#ff593e;font-size: 22px;}
.content_center_right .introduce_head_img_box{width:64px;height:64px;border-radius: 100px;overflow: hidden;}
.content_center_right .introduce_head_img_box img{width:64px;height:64px;}
.content_center_right .grade_name{font-size: 14px;font-weight: bold;color:#333333;}
.content_center_right .grade_box .grade_span{ 
        position: absolute;
    margin-top: 3px;
    color: #76492b;
    font-size: 12px;
    width: 45px;
    left: 7px;}
    .grade_box{position: relative;}
    .content_center_right .grade_box .grade_span1{  position: absolute;
    margin-top: 3px;font-size: 12px;
    width: 45px;
    left: 7px;color: #666;}
    .content_center_right .grade_box .grade_span2{position: absolute;
    margin-top: 3px;font-size: 12px;
    width: 45px;
    left: 7px;color: #9b8310;}
    .content_center_right .grade_box .grade_img{width: 45px;}
.content_center_right .star_box img{display: inline-block;margin-left: 5px;}
.content_center_right .news_bg_box{position: relative;margin-left: 70px;margin-top: 5px;}
.content_center_right .news_bg_title_box{position: absolute;top:20px;left:20px;}
.content_center_right .news_bg_text{width:580px;padding-top: 5px;line-height: 22px;}
.content_center_right .introduce_01{border-bottom:#dddddd 1px dashed;padding-bottom: 30px;}
.content_center_right .news_bg_title{color:#333333;font-weight: bold;}
.content_center_right .reply_text{width:600px;height:60px;background-color: #eeeeee;border:#dddddd solid 1px;border-radius: 4px;padding:10px;margin-left: 71px;}
.content_center_right .reply_btn{width:140px;height:40px;background-color: #ff593e;border-radius: 4px;color:#fff;line-height: 40px;border-bottom: #da4e38 solid 3px;text-align: center;margin-top: 20px;margin-right: 18px;cursor: pointer;}
.content_center_right .reply_btn:hover{background-color: #ec4e35;color:#cd452f;border-top: #cd452f solid 3px;border-bottom:none;}
.content_center_right .news_hover{cursor: pointer;}
.content_center_right .see_more_btn{color:#ff593e;text-align: center;margin-top: 20px;cursor: pointer;}
/*弹窗部分*/
/*公共部分*/
.pop_up_bg {
	background-color: #000;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	    margin-top: -83px;
}
.pop_up_content{
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	position: fixed;
	z-index: 1111;
	background-color: #fff;
	width: 420px;
	left:50%;
	margin-left: -220px;
	top: 25%;
	padding:10px;
}
.close_btn{cursor: pointer;margin-top: -25px;margin-right: -25px;}
/*礼物购买弹窗*/
.pop_for_box .pop_up_gift img{width:100px;}
.pop_for_box .pop_up_gift{width:100px;margin:0 auto;margin-top: 25px;}
.pop_for_box .play_coins{font-size: 14px;text-align: center;color:#ff593e;}
.pop_for_box .play_coins img{margin-right: 6px;display: inline-block;vertical-align: sub;}
.pop_for_box .play_coins_name{font-size: 16px;color:#333333;text-align: center;margin-top: 4px;margin-bottom: 4px;}
.pop_for_box .play_coins_name span{color:#666666;font-size: 12px;}
.pop_for_box .play_coins_text{font-size: 12px;color:#ff593e;text-align: center;}
.pop_for_box .add_left,.pop_for_box .add_right{width:34px;cursor: pointer;font-size: 20px;color: #878787;}
.pop_for_box .add_text{width:68px;color: #878787;font-size: 14px;border-left: #fafafa solid 2px;border-right:#fafafa solid 2px;}
.pop_for_box .add_title{font-size: 16px;color:#666666;margin-left: 50px;line-height: 34px;}
.pop_for_box .add_left_box{width:140px;height:34px;background-color: #f5f5f5;text-align: center;line-height: 34px;}
.pop_for_box .click_box{line-height: 34px;cursor: pointer;}
.pop_for_box .give_btn{cursor: pointer; background-color: #ff593e;width:170px;height:38px;margin:20px auto;text-align: center;color:#fff;border-radius: 6px;font-size: 14px;line-height: 38px;}
.pop_for_box .give_warn{text-align: center;color:#999999;font-size: 12px;margin-top:15px;margin-bottom: 10px; }
.pop_for_box .give_btn:hover{background-color: #ef3516; }
/*余额不足*/
.no_money_box,.pay_select_box{padding-bottom: 20px;}
.no_money_box .no_money,.pay_select_box .no_money{width:216px;margin:0 auto;}
.no_money_box .no_money_wran,.pay_select_box .no_money_wran{font-size: 14px;text-align: center;color:#7e7e7e;}
.recharge_left_btn,.recharge_right_btn,.recharge_new_left_btn,.recharge_new_right_btn{width:120px;height:36px;text-align: center;line-height:36px;color:#fff;border-radius: 2px;cursor: pointer;font-size: 12px;}
.recharge_left_btn{background-color: #b6b6b6;margin-left: 80px;margin-right: 20px;}
.recharge_left_btn:hover{background-color: #858585;color: #5c5c5c;}
.recharge_right_btn{background-color: #ff593e;}
.recharge_right_btn:hover{background-color: #e64a31;color:#982817;}
.recharge_new_left_btn{background-color: #ff593e;margin-left: 80px;margin-right: 20px;}
.recharge_new_left_btn:hover{background-color: #e64a31;}
.recharge_new_right_btn{background-color: #78deff;}
.recharge_new_right_btn:hover{background-color: #269dc3;}
/*支付问题 */
.payment_box{padding-bottom: 25px;}
.payment_box .payment_title{font-size: 16px;color:#4891eb;text-align: center;margin-bottom: 20px;margin-top: 10px;text-decoration: underline;}
.payment_box .payment_title_input{font-size: 46px;color:#999999;width:140px;}
.payment_box .payment_title_input_box{font-size: 46px;color: #333333;width:200px;margin:0 auto;border-bottom: #dddddd solid 1px;margin-bottom: 30px;}
.payment_box .payfor_01{width:110px;text-align: center;cursor: pointer;}
.payment_box .payfor_box{border-left: #dddddd solid 1px;border-right: #dddddd solid 1px}
.payment_box .payfor_wechat{text-align: center;color:#6abe56;font-size: 20px;margin-top: 20px;margin-bottom: 30px;}
.payment_box .sure_btn{width:220px;height:40px;color: #ff593e;font-size: 14px;color:#ffffff; background-color: #ff593e;border-radius: 4px;margin:0 auto;text-align: center;line-height: 40px;cursor: pointer;}
.payment_box .sure_btn:hover{background-color: #e64a31;color:#982817;}
/*微信号支付*/
.sure_btn_warn{font-size: 12px;color:#999999;text-align: center;margin-top: 20px;}
.money_pirce{font-size: 46px;text-align: center;color:#333333;margin-top: 20px;margin-bottom: 20px;}
 /*表白窗口*/
.express_top_title{color:#333333;font-size:14px;text-align: center;margin-top: 20px;padding-bottom: 10px;}
.express_top_title span{font-size: 16px;color:#ff593e;}
.content_icon{margin-left: 7px;font-size: 14px;color: #333333;margin-right: 10px;margin-top: 4px;}
.content_icon span{margin-left: 6px;}
.content_text{width:200px;height: 60px; background-color: #eaeaea;padding:10px;border-radius: 2px;display: inline-block;}
.content_text_wran{position: absolute;top: 60px;right: 112px;font-size: 12px;color:#666666;}
.express_content{position: relative;margin-top: 10px;}
.express_warn{color:#7e7e7e;font-size: 12px;text-align: center;margin-bottom: 20px;}
.no_express,.sure_express{width:120px;height:40px;border-radius: 2px;text-align: center;color:#fff;line-height: 40px;margin-bottom: 25px;margin-top: 20px;cursor: pointer;}
.no_express{background-color: #b6b6b6;margin-left: 80px;margin-right: 20px;}
.no_express:hover{background-color: #858585;color:#5c5c5c }
.sure_express{ background-color: #ff593e;}
.sure_express:hover{background-color: #e64a31;color:#982817;}
.content_input{width:100px;height:30px;background-color: #eaeaea;padding-left:10px;padding-right:10px;}
.content_input_eg{font-size: 12px;color:#666666;line-height: 30px;margin-left: 6px;}
/*大弹窗*/
.pop_up_bigcontent{	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
border-radius: 6px;
-webkit-border-radius: 6px;
position: absolute;
z-index: 1111;
background-color: #fff;
width: 680px;
left:50%;
margin-left: -340px;
top: 16%;
padding:10px;}
/*支付方法*/
.order_payfor{padding:20px;}
.order_information_title{font-size: 16px;color:#333333;margin-bottom: 20px;}
.order_information_title img{vertical-align: sub;display:inline-block;margin-right: 6px;}
.order_name{font-size: 14px;color:#666666;line-height: 50px;margin-left: 20px;}
.order_test_head{width:50px;height:50px;overflow: hidden;border-radius: 100px;border: #d1d1d1 solid 2px;margin-left: 4px;}
.order_test_head img{width: 50px;}
.order_time{line-height: 50px;font-size: 14px;}
.order_name_box{padding-bottom: 15px;border-bottom:#dddddd 1px dashed;}
.alipay_box{cursor: pointer;margin-top: 30px;}
.alipay_time{color: #999999;font-size: 14px;margin-top: -10px;margin-left: 20px;}
.alipay_box_left{margin-left: 100px;margin-right: 30px;}
.sure_pay{width:170px;height:40px;color:#fff;text-align: center;line-height: 40px;font-size: 14px;background-color: #ff593e;margin: 0 auto;margin-top: 32px;margin-bottom: 10px;cursor: pointer;border-radius: 4px;}
.sure_pay:hover{background-color: #e8492f;color: #8e1c09;}
/*支付失败*/
.pay_fail .pay_warn{font-size: 16px;color:#333333;margin-left: 20px;margin-top: 38px;}
.pay_fail .pay_warn span{margin-left: 8px;}
.pay_fail .pay_fail_cion{margin-bottom: 20px;margin-top: 30px;text-align: center;}
.pay_fail .pay_for{margin-bottom: 40px;color:#666666;text-align: center;}
.pay_fail .pay_for_box{width:280px;margin:0 auto;}
.pay_fail .pay_for_box .btn-cell:hover{ background-color: #eb3c1f; }
.pay_fail .pay_for_box .btn-cell{text-align: center;margin-bottom: 30px; background-color: #ff593e;font-size: 16px;color: #fff;height:38px;border-radius: 4px;cursor: pointer;line-height: 38px;display: block;}
.pay_fail .pay_for_fail,.pay_for_success{width:120px;height:38px;color:#fff;border-radius: 4px;cursor: pointer;text-align: center;line-height: 38px;}
.pay_fail .pay_for_fail{background-color:#b6b6b6;margin-right: 20px;}
.pay_fail .pay_for_success{background-color:#ff593e; }
.pay_fail .pay_for_fail:hover{background-color:#858585;color:#5c5c5c;}
.pay_fail .pay_for_success:hover{background-color:#e64a31;color:#982817;}
.width_grade{width:510px;line-height: 24px;word-break: break-all}
/* 约她弹窗*/
.about_box{padding:20px;}
.order_name_bigbox .order_name_box{border: none;}
.order_name_bigbox{border-bottom:#dddddd 1px dashed;}
.order_test_lol img{width:55px;}
.order_test_lol{margin-right:-10px;}

.input-cell_01 {
    height: 32px;
    padding: 0 4px;
    font-size: 14px;
    line-height: 34px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: none;
}

.table_time {
      position: absolute;
    top: 38px;
    left: -90px;
    width: 520px;
    text-align: center;
    background-color: #fff;
    padding: 10px 10px;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    direction: ltr;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: none;
}

.table_time::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    box-sizing: border-box;
    top: -7px;
    left: 200px;
}

.table_time::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    box-sizing: border-box;
    top: -6px;
    left: 201px;
}

.table_time table {
    border: #d3dcdd solid 1px;
}

.table_time td {
    width: 62px;
    height: 45px;
    cursor: pointer;
    border-color: #f3f3f3;
    font-size: 16px;
    color: #555555;
}

.table_time td:hover {
    background-color: #999999;
    color: #fff;
}

.table_time .td_add {
    background-color: #6b7879;
    color: #fff;
}

.table_time .no_td_add {
    color: #E0E0E0;
}
	.content_input{width:140px;height:32px;background-color: #eaeaea;cursor: pointer;border-radius:2px;}
.content_time_box{position: relative;}
.add_left,.add_right{width:34px;cursor: pointer;font-size: 20px;color: #878787;   -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
      user-select:none;}
.add_text{width:68px;color: #878787;font-size: 14px;border-left: #fafafa solid 2px;border-right:#fafafa solid 2px;}
.add_title{font-size: 16px;color:#666666;margin-left: 50px;line-height: 34px;}
.add_left_box{width:140px;height:34px;background-color: #f5f5f5;text-align: center;line-height: 34px;}
.order_textarea{width:608px;height: 90px;padding:10px;background-color: #eaeaea;margin-left: 7px;border-radius: 4px;}
.order_grade{color: #333333;font-size: 16px;}
.order_grade span,.order_information_title span{color: #ff593e;}
.order_information_title span{text-decoration: underline;margin-left: 4px;}
.order_grade span{font-size: 18px;}
.order_grade img,.order_cost img{vertical-align: sub;}
.order_grade_box{text-align: right;line-height: 34px;}
.order_cost{font-size: 16px;color: #666666;}
.order_cost span{color: #333333;margin-left: 6px;}
.order_count{font-size: 16px;color: #333333;}
.order_count span{color: #ff593e;}
.sure_leftbtn_count,.sure_rightbtn_count{width:174px;height:38px;color: #fff;border-radius: 2px;text-align: center;line-height: 38px;cursor: pointer;font-size: 14px;margin-top: 20px;}
.sure_leftbtn_count{ background-color:#1dd3b8;margin-left: 120px;margin-right: 20px;}
.sure_rightbtn_count{background-color: #ff6600;}
.sure_rightbtn_bottom_warn{font-size: 12px;color: #999999;margin-top: 20px;text-align: center;}
.sure_leftbtn_count:hover{ background-color: #13bfa6; }
.sure_rightbtn_count:hover{background-color:#ff593e;}
.order_information_warn_box{color: #ff593e;font-size: 14px;text-align: center;margin-top: 25px;margin-bottom: 28px;}
/*礼物模块新增*/
.number_box{position: relative;}
.number_gift_box{position: absolute;background-color:#f3f3f3;top: -50px;padding: 10px 0;color: #666666;zoom:1;text-align: center;width:310px;border:#dddddd solid 1px;}
.number_gift_box li{padding:4px 10px;margin:0 6px;display: inline-block;border:#dddddd solid 1px;border-radius:2px;cursor: pointer;}
.number_gift_box li:hover{color: #ff6600;border:#ff6600 solid 1px;}
.number_gift_box .li_add{color: #ff6600;border:#ff6600 solid 1px;}
.shar_bottom{position: absolute;top: -7px;left: 175px;}
.number_gift_bigbox{display: none;}
.anonymous{background: url(../images/anonymous.png) no-repeat center top;width:316px;height:58px;position: absolute;top: -46px;left: -59px;line-height: 58px;color: #333;text-align: center;font-size: 14px;display: none;}
.anonymous_box{position: relative;}
.anonymous span{margin-left: 4px;color: #ff593e;}
.anonymous input{display: inline-block;width: 17px; height: 14px;vertical-align: sub;}
/*top- 增加*/
.usercp_box{position: relative;}
.usercp{margin-top: 6px;cursor: pointer;}
.usercp_warn{position: absolute;background: url(../images/anonymous1.png) no-repeat center top;width:316px;height:58px;z-index: 50;text-align: center;line-height: 54px;top: -45px;left: -150px;font-size: 12px;color: #666666;display: none}
.usercp_box:hover .usercp_warn{display: inline-block;}
.index_banner_bg .top_wechat:hover{background-color: #d8ecd3;}
.index_banner_bg .top_share:hover{background-color: #ffdad4;}
.index_banner_bg .top_follow:hover{background-color: #ed4d33;}

.share_top_box,.share_top_box1{position: absolute;width:150px;height:170px; background-color:#fff;z-index: 2222;left: -32px;top:36px;border-style: solid 1px rgb(228, 228, 228);box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.13);border-radius:8px;}

.share_top_box1{width: 327px;display: none;}
.code_box{position: relative;}
.share_top{position: absolute;margin-top: -17px;margin-left: 64px;width:100%;}
.code_title{background-color:#f3f3f3;line-height: 40px;padding-left: 10px;font-size: 14px;color: #666666;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.code_img{text-align: center;margin-top: 12px;}
.code_img img{width:106px;}
.code_img1{margin-top: 12px;}
.code_img1 img{width:104px;}
.share_top_box{display:none;}
.code_box:hover .share_top_box{display: inline-block;}
.share_top_box1_box{position: relative;}
.share_top_box1_box .qq_1{cursor: pointer;}
.share_top_box1_box:hover .share_top_box1{display: inline-block;}
	.pop_gift{position:fixed;top:40%;left:40%;z-index: 99999;color: #ff6c5d;font-weight: bold;font-size:54px;
  text-shadow: 0px 2px 8px rgba(57, 57, 57, 0.6);text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;
-webkit-text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;
-moz-text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;

*filter: Glow(color=#fff, strength=1);line-height: 100px;}

.commentTime{font-size: 12px;color: #999;line-height: 20px;}
.no_top{font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 88px;
    width: 600px;}
    .top10{
    position: relative;
    font-size: 12px;
    color: #fff;
    margin-right: 15px;
}
.liangcode{
    position: absolute;
    z-index: 2222;
    top: 2px;
    text-align: center;
    width: 74px;
}
.liangcodetext{
    font-family: '宋体';
}
.user-header-cell.girl {
    width: 100%;
    /*background-image: url(../images/girl-bgv1.jpg);
        height: 354px;*/
}
.user-header-cell_bg{
    width: 100%;
    background: url(../images/girl-bgv1.jpg)  no-repeat top center;
    height: 354px;
    background-size: 100%;
    position: absolute;
}
.user-content-cell .user-info{}
.oneself_text{text-align: left;}
/*左边弹窗*/
.fixed-nav-cell{position: fixed;right: 14%;top: 60%;margin-top: -204px;width:50px;z-index: 9999;}
@media screen and (max-width:1600px) and (min-width:1365px){.fixed-nav-cell{position: fixed;right: 7%;top: 50%;margin-top: -204px;width: 50px;z-index: 9999;}}
@media screen and (max-width:1366px){.fixed-nav-cell{position: fixed;right:0;top:50%;z-index: 9999;}}
.fixed-nav-cell .fixed_bg{height:180px;width:100px;background-color: #f33b52;border-radius:50px;margin-top: -80px;margin-left:9px;}
.fixed-nav-cell .aqt{padding-top: 94px;display: block;text-align: center;color:#fff;font-size:13px;}
.fixed-nav-cell .top{text-align: center;display: block;margin-top: 20px;}
.service_hover{display: block;position: relative;z-index: 2;}
.service_hover2{display: none;}
.service_hover:hover .service_hover1{display: none;}
.service_hover:hover .service_hover2{display: inline-block;}
.pop_gift{position:fixed;top:40%;left:40%;z-index: 99999;color: #ff6c5d;font-weight: bold;font-size:54px;
  text-shadow: 0px 2px 8px rgba(57, 57, 57, 0.6);text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;
-webkit-text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;
-moz-text-shadow:#fff 3px 0 0,#fff 0 3px 0,#fff -3px 0 0,#fff 0 -3px 0;

*filter: Glow(color=#fff, strength=1);line-height: 100px;}

.code_img,.samll_wechat_box {position: relative;}   
.code_img .samll_wechat,.code_img1 .samll_wechat{position: absolute;top:50%;left:50%;margin-top: -12px;margin-left: -11px;width:22px;height: 24px;}
.qq_03_content{    font-size: 16px;
color: #333333;margin-top:5px;}
.qq_03_input{width:519px;background-color: #eaeaea;padding: 7px 10px;margin-left: 6px;}
/*隐藏礼物+右侧礼物增加*/
.content_left_giftlist_nav_bg{position: absolute;top:-294px;left:0;background:url(../images/gifts_box.png);width:446px;text-align: center;line-height: 26px;z-index: 2;}
.content_left_giftlist_nav{padding: 3px 10px;margin: 11px 20px;color: #ccc;}
.content_left_giftlist_nav_add{border-bottom: #fff solid 2px;color: #fff;font-weight: bold;}
.gift_bottom_img_height_box_gibbox{width: 642px;height: 96px;overflow: hidden;}
.right_gift_btn{cursor: pointer;width:10px;height:20px;}
.right_gift_btn img{width:10px;}
.content_left_giftlist{height: 200px}
.border_gift_center{width:1px; background-color: #333333;height:20px;margin-top: 18px;}
.plutocrat_rick{position: absolute;}
.plutocrat_rick_01{position: absolute;
    top: 10px;
    left: 10px;z-index: 245333;}