@charset "utf-8";
/*点点约玩头部和尾部的格式*/
#common_top_box{height: 80px;border-bottom: #eeeeee solid 1px;min-width:1366px;}
#common_top_box .common_top_logo{margin-top: 16px;}
/*margin-left: calc((100% - 1366px)/15 + 30px);*/
#common_top_box .common_top_nav{margin-right: calc((100vw - 916px)/15 );font-size:16px;color:#303030;margin-top: 30px;padding-bottom: 10px;}
#common_top_box .common_top_nav_add{border-bottom: #fa6543 solid 3px;color: #fa6543;}
#common_top_box .common_top_nav:hover{border-bottom: #fa6543 solid 3px;color: #fa6543}
#common_top_box .common_wechat{position: absolute;top:37px; background-color: #ffffff;border:#e9e9e9 solid 1px;padding:16px;width:150px;text-align: center;left:-62px;border-radius: 2px;display:none;}
#common_top_box .common_wechat_img{position: absolute;    top: -15px;
    left: -6px;width:100%;}
.common_wechat_img img{width:10px;}
#common_top_box .common_center_box{margin-left: calc((100% - 1366px)/3);}
#common_top_box .common_wechat_box{position: relative;z-index:100;}
#common_top_box .common_wechat_box:hover .common_wechat_img{display: inline-block;}
#common_top_box .qrcode_for_text{font-size: 12px;color: #999999;}
#common_top_box .hot_img{position: absolute;top:-7px;left:50px;}
#common_top_box .search_input{padding:0 10px;border-radius: 25px;background-color: #f0f0f0;display: inline-block;line-height: 34px;height: 34px;}
#common_top_box .search_box{margin-top: 22px;}
#common_top_box .search_img_box{position: relative;}
#common_top_box .search_img{position: absolute;right: 18px;top: 10px;cursor: pointer;}
#common_top_box .common_right{margin-left: calc((100% - 1366px)/3);}
#common_top_box .common_right_01{color: #666666;font-size: 12px;text-align: center;line-height: 26px;display: block;}
#common_top_box .common_right_01_add{color:#fa6543}
#common_top_box .common_right_02{ background-color:#dfdfdf;width: 1px;height:20px;margin:0 20px;margin-top: 10px;}
#common_top_box .common_right_enter{font-size: 14px;color:#fa6543;border-radius: 25px;line-height: 34px;height:34px;border:#fa6543 solid 1px;width:80px;    margin-top: 6px;margin-right: 30px;}
#common_top_box .common_right_enter:hover{background-color: #fa6543;color: #ffffff;}
#common_top_box .common_message{position: absolute;width: 20px;height: 20px;background-color: #fa6543;font-size: 12px;color: #fff;line-height: 19px;border-radius: 100px;margin-top: -54px;margin-left: 32px;}
#common_top_box .head_img_box{width:40px;height:40px;border-radius:100px;overflow: hidden;border:#d0d0d0 solid 1px;}
#common_top_box .head_img_box img{width:40px;height:40px;}
#common_top_box .common_head_name{font-size: 16px;color: #333333;}
#common_top_box .common_head_id{color: #666666;font-size: 13px;margin-top: 2px;}
#common_top_box .common_runk_number{margin-top: 4px;}

#common_top_box .head_img_bigbox{cursor: pointer;position: relative;z-index:100;}
#common_top_box .common_login{position: absolute;top: 47px;background-color: #ffffff;border: #e9e9e9 solid 1px;text-align: center;left:-76px;border-radius: 2px;width:264px;padding-top: 16px;}
#common_top_box .head_img_small{width:60px;height:60px;border-radius: 100px;overflow: hidden;margin:0 auto;}
#common_top_box .head_img_small img{width:60px;height:60px;}
#common_top_box .drop_out{font-size: 14px;color: #666666;float: right;cursor: pointer;position: absolute;
    margin-left: 215px;}
#common_top_box .drop_out:hover{color: #fa6543;text-decoration: underline;}
#common_top_box .means_hover,.order_hover{display: none;}
#common_top_box .means_box,.order_box{font-size: 14px;color: #666666;margin-top: 2px;}
#common_top_box .means_box:hover,.order_box:hover {color:#fa6543;}
#common_top_box .means_box:hover .means_hover,#common_top_box .order_box:hover .order_hover{display: inline-block; }
#common_top_box .means_box:hover .means,#common_top_box .order_box:hover .order{display:none; }
#common_top_box .common_runk_number_01{margin-left: 60px;}
#common_top_box .hide_common{font-size: 14px;color: #333333;}
#common_top_box .contribution_value{font-size: 12px;color: #666666;}
#common_top_box .contribution_value span{color: #fa6644;}
#common_top_box .common_vip_box{width:190px;margin:0 auto;}
#common_top_box .common_vip_line_box{width: 100%;background-color:#efefef;border-radius:25px;height:4px;}
#common_top_box .common_vip_line{width: 20%;background-color:#fa6543;border-radius:25px;height:4px;}
#common_top_box .vip_text{color: #999999;font-size: 12px;margin-top: 3px;}
#common_top_box .money_01_bigbox{ background-color: #f4f3f3;height:68px;}
#common_top_box .money_01_box{text-align: center;color: #666666;font-size: 14px;margin-top: 14px;padding:0 18px;border-right: #e1e1e1 solid 1px;}
#common_top_box .money_01{color: #999999;font-size: 12px;}
#common_top_box .common_payfor{ background-color: #fa6543;color: #fff;text-align: center;width:48px;height:22px;margin-top: 25px;line-height: 22px;border-radius:25px;font-size: 12px;margin-left: 18px;}
#common_top_box .common_payfor:hover{background-color: #f23c13;}
.common_login{display: none;}
@media all and (max-width: 1366px) {
    #common_top_box .common_top_nav{
        margin-right:30px;
    }

    #common_top_box .common_right{margin-left: 20px;}
}
#common_top_box .common_runk_05 {
    background: url(../images/5.gif) no-repeat;
    width: 40px;
    height: 18px;
    background-size: 40px;
}




/*底部*/
footer{background-color: #535353;position: relative;}
footer .footer_box{width: 1204px;margin:0 auto;padding: 30px 0;background-color: #535353;}
footer .Copy{color:#959595;font-size: 12px;margin-top: 34px;text-align: center;}
footer .help_box{color:#c9c9c9;font-size: 15px;}
footer .custom_01{font-size:17px;margin-right: 14px;}
footer .custom_02{font-size:13px;}
footer .border_right{border-right:#bfbfbf solid 1px;}
footer .help{width:92px;height:26px; background-color:#3c3c3c;line-height: 26px;text-align: center;border: #707070 solid 1px;border-radius: 4px;margin-left: 16px;font-size:13px;color:#bfbfbf;}
footer .help:hover{background-color:#4d4c4c;}