body{
    background: url('../images/women.jpg');
}
img{
    display: block;
}
.body{
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
    width: 1226px;
    margin:0 auto;
}
.body .zubo-title{
    width: 1146px;
    height:108px;
    padding-left: 30px;
    padding-right: 50px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top:30px;
}

.zubo-title .title-meta{
    display: flex;
}

.zubo-title .title-meta .zuboImg img{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
.zubo-title .title-info{
    margin-left: 5px;
    width: 150px;
    height:80px;
}
.zubo-title .title-info .name{
    margin-top: 13px;
}
.zubo-title .title-info .credit{
    margin-top: 5px;
    color:#999999;
    font-size: 14px;
}
.zubo-title .title-info .credit img{
    width: 72px;
    height:25px;
    vertical-align: middle;
    display: inline;
}
.zubo-title .title-info .credit span{
    vertical-align: middle;
}
.zubo-title .zubo-giftBox{
    width: 340px;
    height:78px;
    margin-left: 260px;
    overflow: hidden;
}
.zubo-title  .zubo-gift{
    width: 400px;
    height:68px;
    margin-top: 36px;
}
.zubo-title  .zubo-gift p{
    width: 360px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify;
}
.zubo-title  .zubo-gift p span{
    color:#ff593e;
}
.zubo-title .zubo-other{
    width: 290px;
    height:85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.zubo-title .zubo-other div{
    margin-top: 2px;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    line-height: 28px;
    text-align: center;
}
.zubo-title .zubo-other .wechart{
    /*border: 1px solid #3eb135;
    color:#3eb135;*/
}
.zubo-title .zubo-other .share{
    border: 1px solid #ff593e;
    color:#ff593e;
    margin: 0 20px;
}
.zubo-title .zubo-other .like{
    background-color:#ff593e;
    color:white;
}
.zubo-title .zubo-other>span{
    font-size: 12px;
    color:#999999;
    margin-left: 15px;
}
/* ===================内容区左侧头部 */
.body .zubo-cont{
    /* width: 1226px; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.body .zubo-cont .left{
    width: 446px;
    margin-right: 10px;

}
.zubo-cont .zuboTab .tabCont{
    width: 446px;
    height:446px;
}
.zubo-cont .zuboTab .tabCont img{
    width: 100%;
    height:100%;
}
.zubo-cont .zuboTab .tabDot {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.zubo-cont .zuboTab .tabDot .tabDotImg{
    width: 446px;
    margin-bottom: 15px;
    width: 72px;
    height: 72px;
}
.zubo-cont .zuboTab .tabDotImg img{
    width: 72px;
    height:72px;
}

.zubo-cont .giftTab .tabDot{
    display: flex;
    align-items: center;
    width: 100%;
    height:56px;
    background: #ccc;
}
.zubo-cont .giftTab .tabDot>div{
    padding: 3px 10px;
    height:26px;
    line-height: 26px;
    font-size: 16px;
    margin-left: 5px;
}
.zubo-cont .giftTab .tabCont {
    position: relative;
    width:100%;
    height:324px;
}
.zubo-cont .giftTab .tabCont .tabCont-box{
    display: flex;
    flex-wrap: wrap;
    width: 406px;
    height:304px;
    font-size: 12px;
    position: absolute;
    top:20px;
    left:20px;
}
.zubo-cont .giftTab .tabCont .tabCont-box li{
    width: 64px;
    height:84px;
    margin: 0 7px;
    border-radius: 4px;
    /* border:1px solid red; */
}
.zubo-cont .giftTab .tabCont .tabCont-box li>img{
    width: 64px;
    height:60px;
    display: block;
}
.zubo-cont .giftTab .tabCont .tabCont-box li>div{
    font-size: 12px;
    width: 100%;
    text-align: center;
    line-height: 24px;
}
.zubo-cont .giftTab .last{
    line-height:30px;
    width: 406px;
    padding-left:  20px ;
    font-size: 12px;
}
.zubo-cont .left-top {
    width: 100%;
    background-color: white;
}
.zubo-cont .left-top .sendGift{
    width: 100%;
    height:64px;
    font-size: 14px;
    background-color: #ccc;
    display: flex;
    align-items: center;
}
.zubo-cont .left-top .sendGift .left{
    width: 134px;
    line-height: 64px;
    text-align: center;
    border-right: 1px solid #aaa;
}
.zubo-cont .left-top .sendGift .ipt{
    margin:0 10px;
    display: flex;
    height:34px;
    width: 178px;
    border:1px solid rgb(146, 143, 143);
    background: white;
}
.zubo-cont .left-top .sendGift .ipt>input{
    border:none;
    outline: none;
    background: none;
    width: 100px;
    padding-left: 5px;
    font-size: 14px;
}
.zubo-cont .left-top .sendGift .ipt>div{
    height:34px;
    width: 44px;
    line-height: 34px;
    text-align: center;
}
.zubo-cont .left-top .sendGift .ipt>.img{
    width: 34px;
}
.zubo-cont .left-top .sendGift .ipt img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.zubo-cont .left-top .sendGift .send{
    background-color: #ff593e;
    width: 100px;
    height: 34px;
    border-radius: 4px;
    line-height: 34px;
    display:flex;
}
.zubo-cont .left-top .sendGift .send img{
    display: block;
    margin: 0 auto;
}
.zubo-cont .left-top .sendGift .send .img{
    width: 30px;
    margin:auto;
}
.zubo-cont .left-top .sendGift .send .sendgift{
    width: 70px;
    text-align: center;
}
.zubo-cont .left-bottom{
    margin-top: 20px;
    padding: 25px;
    background-color: rgba(255,255,255,0.96);
    width: 400px;
    height:336px;
}
/* // ==================内容区：左侧底部  */
.zubo-cont .left-bottom .zuboInfo-title{
    width: 36px;
    height:24px;
    font-size: 18px;
    color:#ff593e;
    border-bottom: 2px solid #ff593e;
    padding: 5px;
    line-height: 24px;
    text-align: center;
}
.zubo-cont .left-bottom .zuboCont li{
    line-height: 50px;
    font-size: 14px;
    color:#666666;
}
.zubo-cont .left-bottom .zuboCont li>img{
    display: inline-block;
    vertical-align: middle;
}
.zubo-cont .left-bottom .zuboCont li>span{
    vertical-align: middle;
    margin-left: 10px;
    color:#333333;
}

/* ===========右侧头部 */

/* =====右侧头部 礼物 */

.zubo-cont .right .right-top{
    width: 748px;
    height:200px;
    padding: 0 10px;
    box-shadow:0px 1px 8px 0px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.8);
    border:1px solid #dddddd;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}
.zubo-cont .right .right-top .right-protecter{
    border-bottom: 1px dashed #ccc;
}
.zubo-cont .right .right-top .right-protecter,
.zubo-cont .right .right-top .right-gifts{
    height: 50%;
    display: flex;
    align-items: center;
}
.zubo-cont .right .right-top .pro-tit,
.zubo-cont .right .right-top .gifts-tit {
    margin-left: 17px;
}
.zubo-cont .right .right-top .pro-tit>div,
.zubo-cont .right .right-top .gifts-tit>div {
    margin-top: 5px;
    color:#333333;
    text-align: center;
}
.zubo-cont .right-top .proCont-list{
    display: flex;
    justify-content: space-around;
}
.zubo-cont .right-top .proCont-list li{
    position: relative;
    height:63px;
    width: 50px;
    margin-left: 19px;
}
.zubo-cont .right-top  .proCont-item>img{
    position: absolute;
}
.zubo-cont .right-top  .proCont-item .avatar{
    top:0px;
    left:5px;
    width: 45px;
    height:45px;
    border-radius: 50%;
}
.zubo-cont .right-top  .proCont-item .top{
    top:-10px;
    left:0px;
}
.zubo-cont .right-top  .proCont-item .bottom{
    top:31px;
    left:0px;
}
.zubo-cont .right-top  .proCont-item >div{
    position: absolute;
    left:0px;
    bottom:0px;
    width:54px ;
    text-align: center;
}
.zubo-cont .right-top  .proCont-list .contri{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.zubo-cont .right-top  .proCont-list .contri>div{
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background-color: #999999;
}
.zubo-cont .right-top  .proCont-list .contri>div>div{
    /* width: 40px; */
    height: 5px;
    border-radius: 5px;
    background-color: #ff593e;
}

.zubo-cont .right-top  .proCont-list :nth-child(2)>div>div{
    width: 45px;
}
.zubo-cont .right-top  .proCont-list :nth-child(4)>div>div{
    width: 35px;
}
.zubo-cont .right-top  .proCont-list :nth-child(6)>div>div{
    width: 25px;
}
.zubo-cont .right-top  .proCont-list :nth-child(8)>div>div{
    width: 15px;
}
.zubo-cont .right-top  .proCont-list :nth-child(10)>div>div{
    width: 5px;
}

/* ================头部礼物部分 */
.zubo-cont .right-top .gifts-list{
    width: 690px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}
.zubo-cont .right-top .gifts-list>li{
    width: 74px;
    height:87px;
}
.zubo-cont .right-top .gifts-list>li>img{
    width: 65px;
    height:65px;
    margin: 0 auto;
}
.zubo-cont .right-top .gifts-list>li>div{
    width: 36px;
    text-align: center;
    background-color: #cbcbcb;
    color:white;
    margin: 0 auto;
}
/* =============右侧tab */
.zubo-cont .right .right-tab{
    /* width: 100%; */
    margin-top: 20px;
    border: #dddddd solid 1px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255,255,255,0.96);
}
.zubo-cont .right .right-tab .rightTab-nav{
    /* width: 100%; */
    height:50px;
    background-color: #f2f2f2;
    color:#666;
    font-size: 16px;
    display: flex;
}
.zubo-cont .right .right-tab .rightTab-nav>div{
    width: 108px;
    line-height: 50px;
    text-align: center;
}
.zubo-cont .right-tab .rightTab-cont{
    /*border:1px solid red;*/
    overflow: hidden;
    width:770px;
}
.zubo-cont .rightTab-cont .rightTab-cont-box{
    display: flex;
}

.zubo-cont .rightTab-cont .rightTab-cont-box .onlineLol{
    background-color: white;
    width: 710px;
    padding: 30px;
    /*border:1px solid red;*/
    float:left;
}
.zubo-cont .rightTab-cont .onlineLol .lol-head{
    display: flex;
    width: 710px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.zubo-cont .right-tab .rightTab-cont .lol-head .left{
    display: flex;
}

.zubo-cont .right-tab .rightTab-cont .lol-head .radio{
    margin-right: 20px;
}
.zubo-cont .rightTab-cont .lol-head .Lol-meta .name{
    font-size: 24px;
}
.zubo-cont .rightTab-cont .lol-head .Lol-meta .garde{
    font-size: 14px;
    background: #999999;
    width: 86px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin: 10px 0;
    color: #666666
}
.zubo-cont .rightTab-cont .lol-head .Lol-meta .order-btn{
    display: flex;
    font-size: 12px;
    color: #666666
}
.zubo-cont .rightTab-cont .lol-head .Lol-meta .order-btn img{
    margin-right: 5px;
}
.zubo-cont .right-tab .rightTab-cont .lol-head .right{
    width: 145px;
    margin-top: 20px;

}
.zubo-cont .rightTab-cont .lol-head .right .price{
    font-size: 19px;
    color: #999999;

}
.zubo-cont .rightTab-cont .lol-head .right .price span{
    font-size: 36px;
    color: #ff593e;
    margin-left: 20px;
}
.zubo-cont .rightTab-cont .lol-head .right .order{
    background-color: #ff593e;
    border-bottom: #da4e38 solid 4px;
    /* margin-right: 20px; */
    margin-top: 10px;
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
.zubo-cont .rightTab-cont .onlineLol .intro{
    border-top: #dddddd 1px dashed;
    border-bottom: #dddddd 1px dashed;
    padding: 25px 0;
}
.zubo-cont .rightTab-cont .onlineLol .intro .intro-title  {
    font-size: 14px;
    color: #999999;
    display: flex;
}
.zubo-cont .rightTab-cont .intro .intro-title h3{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-right: 10px;
}
.zubo-cont .rightTab-cont .intro .intro-info {
    font-size: 14px;
    color: #666666;
    line-height: 40px;
    margin-top: 15px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-title {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-title .comm{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-right: 10px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-title .comm span{
    font-size: 14px;
    color: #999999;
}
.zubo-cont .rightTab-cont .lol-comments .comm-title .gard {
    font-size: 14px;
    color: #666666;
}
.zubo-cont .rightTab-cont .lol-comments .comm-title .gard span{
    color: #ff593e;
    font-size: 22px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-lebal{
    background: #f5f5f5;
    padding: 10px 13px;
    margin-top: 20px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-lebal .label-title{
    border-left: solid 4px #fc831a;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #666;
    text-indent: 8px;
    margin-bottom: 16px;
}
.zubo-cont .rightTab-cont .lol-comments .comm-lebal .label-item{
    display: flex;
}
.zubo-cont .rightTab-cont .lol-comments .comm-lebal .label-item li{
    height: 28px;
    border: solid 1px #e6e6e6;
    text-align: center;
    border-radius: 28px;
    line-height: 28px;
    padding: 0 10px;
    background: #fff;
    margin-right: 24px;
    margin-bottom: 10px;
    cursor: default;
    font-size: 12px;
}

.zubo-cont .rightTab-cont .lol-comments .comm-lebal .label-item li span{
    color:#fc831a;
}

.zubo-cont .lol-comments .comm-item li .comm-info{
    display: flex;
    margin-top: 25px;

}
.zubo-cont .lol-comments .comm-item li .comm-info .author-pic{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;

    color: #333333;
}

.zubo-cont .lol-comments .comm-item li .comm-info .name{

    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.zubo-cont .lol-comments .comm-item li .comm-info .reply-time{

    font-size: 12px;
    color: #999;
    line-height: 20px;

}
.zubo-cont .lol-comments .comm-item li .comm-info .comm-cont{
    margin-top: 10px;
    width: 510px;
    line-height: 24px;
    word-break: break-all;
    font-size: 14px;
    color: #666666;
}
.zubo-cont .lol-comments .comm-item li  .stars{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

}
.zubo-cont .lol-comments .comm-item li  img{
    margin-left: 3px;
}
.playActive{
    background-color: white;
    border-top: #da4e38 2px solid;
}
.giftActive{
    color:white;
    border-bottom: 2px solid white;

}
