<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>

<!-- 账号登录 -->
<div class="login-content-item" style="display: none" v-show="loginTabShow===0">
    <div class="left">
        <div class="login-inp">

            <input class="user_mobile" type="text" v-model.trim='user_mobile' maxlength="11" placeholder="手机号/靓号登录">
        </div>
        <div class="login-inp">

            <input class="user_pwd" v-model.trim='user_pwd' onfocus="this.type='password'" maxlength="20" @keyup.enter='userLoginFun' placeholder="请输入密码">
        </div>
        <div class="auto_login">
            <span class="check-btn-wrapper" :class="{on:checked}" @click="checked=!checked"><span class="check-btn"></span><span class="check-text">下次自动登录</span></span>
            <span class="find-pwd" @click="forgetFun(2)">找回密码</span>
        </div>
        <div class="login-inp "><a href="javascript:;" @click="userLoginFun" class="login-btn">登录</a></div>
    </div>
    <div class="right">
        <span class="right-title">其它登录方式</span>
        <div class="login-mode-wrapper ">
            <div class="login-mode-item one"  @click="changeLogin(1)">
                <img src="/picture/phone.png" alt="" class="icon">
                <span class="text">短信登录</span>
            </div>
            <div class="login-mode-item two">
                <a href="/user/connect/authorize/platform/wechat">
                    <img src="/picture/wx.png" alt="" class="icon">
                    <span class="text">微信登录</span>
                </a>
            </div>
            <div class="login-mode-item three">
                <a href="/user/connect/authorize/platform/qq">
                    <img src="/picture/qq.png" alt="" class="icon">
                    <span class="text">QQ登录</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="text">使用即为同意<span class="agreement" @click.stop.prevent='agreement_fn()'>《用户服务协议》</span></span>
    </div>
</div>
<!-- 短信登录 -->
<div class="login-content-item" v-if="loginTabShow===1">
    <div class="left">
        <div class="login-inp msg-inp">
            <div class="regist_phone_code regist_phone_code1"   v-model.trim='regist_msg_code' @click="regist_ul_show(1)">+{{regist_msg_code}} <img src="picture/jt.png" alt=""></div>

            <ul class="regist_phone_ul regist_phone_ul1"  style="display: none;">
                <li @click="regist_li_data(86,1)">中国大陆 <span>+86</span></li>
                <li @click="regist_li_data(886,1)">中国台湾 <span>+886</span></li>
            </ul>
            <input class="msg_mobile" type="text" v-model.trim='msg_mobile' maxlength="11" placeholder="请输入手机号">
        </div>
        <div class="login-inp img-code">
            <div class="code-wrapper w200 msg-inp">
                <input class="w177 msg_captcha_code" type="text" v-model.trim="msg_captcha_code" placeholder="请输入图形验证码" :readonly="code_readonly">
            </div>
            <i class="code_txt">
                <img :src="picture/b72fc88107de48c2b745631624f9fde5.gif" class="security-code" @click="refreshImgCode()">
            </i>

        </div>
        <div class="login-inp">
            <div class="code-wrapper w240 msg-inp">
                <input class="msg_message_code w218" type="text" v-model='msg_message_code' onfocus="this.type='number'" placeholder="请输入短信验证码" @keyup.enter='msgLoginFun'>
            </div>
            <i class="code_txt">
                <input type="button"  v-bind:value="msg_message_code_btn" class="msg_phone-security-code" @click='sendmessageFun(1)' :disabled='msgIsdisabled'/>
            </i>
        </div>
        <div class="login-inp  msg-inp" style="display: none" v-show="msgNoPwdShow">
            <input class="msg_pwd" v-model.trim='msg_pwd' maxlength="20" onfocus="this.type='password'" placeholder="请输入密码">
        </div>
        <div class="login-inp" style="display: none;" v-show="!msgNoPwdShow"><a href="javascript:;" @click="msgLoginFun" class="login-btn">登录</a></div>
        <div class="login-inp" style="display: none;" v-show="msgNoPwdShow"><a href="javascript:;" @click="setPassword(1)" class="login-btn">登录</a></div>
    </div>
    <div class="right">
        <span class="right-title">其它登录方式</span>
        <div class="login-mode-wrapper">
            <div class="login-mode-item one"  @click="changeLogin(0)">
                <img src="picture/user.png" alt="" class="icon">
                <span class="text">账号登录</span>
            </div>
            <div class="login-mode-item two">
                <a href="/user/connect/authorize/platform/wechat">
                    <img src="picture/wx.png" alt="" class="icon">
                    <span class="text">微信登录</span>
                </a>
            </div>
            <div class="login-mode-item three">
                <a href="/user/connect/authorize/platform/qq">
                    <img src="picture/qq.png" alt="" class="icon">
                    <span class="text">QQ登录</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="text">使用即为同意<span class="agreement" @click.stop.prevent='agreement_fn()'>《用户服务协议》</span></span>
    </div>
</div>





</body>
</html>