<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/gift_like.css">
    <link rel="stylesheet" href="./css/newcommon_admin.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
    <!--<script src="./js/jquery-3.3.1.min.js"></script>-->
    <script src="./js/jquery.page.js"></script>
    <script src="./js/laypage.js"></script>
    <!--<script src="./css/laypage.css"></script>-->
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
</head>
<body>
<script th:inline="javascript">
    var pid = [[${session.nameTPerson?.pid}]];
</script>
<!--左边-->
<!--left_column-->
<div id="left_column">
    <div>
        <a href="/" target="_blank">
            <i class="header " style="color:white;margin:10px 0 0 25px;">
                <img src="./img/icon.png">
            </i></a>
        <div class="boundary"></div>
    </div>
    <div>
        <div class="manage_bigbox mt15">
            <div class="manage_box pb15">
                <i class="icon_bgs manage2 fl"></i>
                <span class="fl">管理</span>
                <div class="clearfix"></div>
            </div>
            <div class="classify_box">
                <a href="/indexw">我的订单</a>
                <a href="/atten">我的关注</a>
                <!--<a href="https://y.tuwan.com/home/medal/">聊天室特权</a>-->
                <!--<a href="https://y.tuwan.com/home/blackroom/">黑名单管理</a>-->

                <a href="/trecord">交易记录</a>
                <!--<a href="/gift">礼物记录</a>-->

            </div>
        </div>
        <div class="manage_bigbox mt15">
            <div class="manage_box pb15">
                <i class="icon_bgs manage3 fl"></i>
                <span class="fl">设置</span>
                <div class="clearfix"></div>
            </div>
            <div class="classify_box">
                <a href="/secur">安全中心</a>
                <a href="/data">个人资料</a>
                <a href="/playinfo">申请入驻</a>
            </div>
        </div>
    </div>

</div>
<!--left-column-end-->
<!--top-box-->
<div id="top_box" >
    <div class="fr" v-for="(iten,index) in user">
        <div class="mailbox_bigbox pt25 pb20 fl">
            <a href="#">
                <div class="fl mailbox_box">
                    <i class="icon_bgs fl mailbox"></i>
                    <span class="mailshu" style="display: none;">
                    </span>
                    <span class="fl">消息</span>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="fl service_box course5" id="dd_kefu_qidian">
                <i class="icon_bgs fl service"></i><span class="fl">客服</span>
                <div class="clearfix"></div>
            </div>
            <div class="fl"><i class="fl"><img
                    src="./img/icon_uid.png"></i><span class="fl">PID:{{iten.pid}}</span>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="fl ml25 head_img_box">
            <div class="vip_text_box fl">
                <div class="fl head_img">
                    <a href="/data">
                        <img :src="'http://pleuof34m.bkt.clouddn.com/'+iten.person_image+'?imageView2/2/w/400/h/400/q/100'"
                             alt="头像" title="" onerror="avatarNoFound(this)">
                    </a>
                </div>
                <div class="fl ml10 vip_text">
                    <div class="vip_01">{{iten.person_flate==0?'用户':'主播'}}</div>
                    <div class="vip_02">
                        <a href="/data" id="name_href"  style="text-align: center;direction: none" >{{iten.person_nickname}}</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="common_login" style="display: none;background-color: #f4f3f3;width: 150px;height: 100px;margin-top: 5px;">
                当前余额:{{balance}}
            </div>
            <!--<div class="fl ml10 mr40 pl10 quit" id="dologout">退出</div>-->
            <a class="fl ml10 mr40 pl10 quit" href="/logout" id="dologout">退出</a>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>
</div>
<div id="c_top" class="content_top"></div>
<div class="left_margin"></div>
<div class="left_margin gift_record">

    <div class="gift_title mb20">我的关注</div>

    <div class="gift_list_box" id="app">
        <div class="gift_list_border">
            <div class="gift_list_title ml10 fl">全部关注(<span class="gift_list_allnumber">{{countattention}}个</span>)
            </div>
            <div class="fr m130">
                <div class="fl all_pitch">
                    <label>
                        <input id="checkAll" type="checkbox" class="fl">
                        <span class="fl">全选</span>
                    </label>
                    <div class="clearfix"></div>
                </div>
                <div class="fl follow_box">
                    <img src="./img/follow.png" class="follow">
                    <img src="./img/follow_hover.png" class="follow_hover">&nbsp;取消关注
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="follow_code_bigbox">

            <div class="follow_code_subbox" v-for="(item,index) in result">
                <div class="follow_code_box fl">
                    <div class="follow_code_input">
                        <input type="checkbox" :value="item.zid" class="follow_code_input_01">
                    </div>
                    <a class="fl pr25 follow_code_headimg_border" :href="'/hello2?zid='+item.zid" target="_blank">
                        <div class="follow_code_headimg mt20">
                            <img :src="'http://pleuof34m.bkt.clouddn.com/'+item.person_image+'?imageView2/2/w/200/h/200/q/100'" onerror="this.src=''"><!--:src="'http://pleuof34m.bkt.clouddn.com/'+item.person_image+'?imageView2/2/w/200/h/200/q/100'"-->
                        </div>
                    </a>
                    <div class="fl ml25 mt10">用户昵称:
                        <a class="follow_code_name" :href="'/#'+item.zid" target="_blank">{{item.person_nickname}}</a>
                        <div class="follow_runk">
                            <div class="fl  mr10">
                                <div class="vip_runk_02">5</div>
                                <img src="./img/jibie_02.png">
                            </div>
                            <div class="fl like_runk">PID:{{item.zid}}</div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="follow_hover_box" :ttid="item.zid">
                            <img src="./img/follow_hover.png" class="follow_hover_01">&nbsp;取消关注
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="nofollow"><img src="./img/blank.png"></div>
            <div class="clearfix"></div>
        </div>
        <div id="pagenave"></div>
    </div>
</div>
<script type="text/javascript">
    var countattention;

    /*加载用户的信息*/
    var  users=new Vue({
        el:'#top_box',
        data:{
            user:[]
        }
    });
    var getUsersInfo=function(){
        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '/getuserinfo',
            data: {pid:pid},
            success: function (rest) {
                users.user = rest.results;
                /* userbalance.balance=rest.results[0].m_balance;*/
            }
        });
    };

    getUsersInfo();

    var app = new Vue({
        el: '#app',
        data: {
            result: []
        }
    });


    var getAttentionList = function (curr) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/attentio',
            data: {
                current: curr || 1,
                size: 2,
                pid: pid
            },
            success: function (res) {
                app.result = res.result.records;
                app.countattention = res.result.total;
                laypage({
                    cont: 'pagenave',
                    skip: true,
                    skin: '#52A34C',
                    first:'首页',
                    last:'尾页',
                    pages: res.result.pages,
                    curr: curr || 1,
                    jump: function (obj, first) {
                        if (!first) {
                            getAttentionList(obj.curr);
                        }
                    }
                });
            }
        });
    }
    getAttentionList();


    /*initfollowGIft();
    /!*分页*!/
    function followGift(p){
        $.ajax({
            url: "/lists?page="+p+"&size=12",
            type: "get",
            dataType: "jsonp",
            success: function (obj){
                setData(obj);
            }
        });
    }

    function initfollowGIft() {
        $.ajax({
            url: "/Attention/lists?page=1&size=12",
            type: "get",
            dataType: "jsonp",
            success: function (obj){
                $(".tcdPageCode").createPage({
                    pageCount:obj.totalPage,
                    current:1,
                    backFn:function(p){
                        followGift(p);
                    }
                });
                setData(obj);
            }
        });
    }

var arr = new Array();
function setData(obj){
    var nianguan='♕'
    var data=obj.data;
    var str = '';
    var like_runk_box="";
    var vip_runk="";
    if(data.length>0){
        for(var i=0;i<data.length;i++){
            if(data[i].level==0){
                like_runk_box="like_runk_box";
            }else{
                like_runk_box="";
            }
            if(data[i].levelicon==1){
                vip_runk="vip_runk_01";
            }else if(data[i].levelicon==2){
                vip_runk="vip_runk_02";
            }else if(data[i].levelicon==3){
                vip_runk="vip_runk_03";
            }
            var teacherid=data[i].teacherid;
            arr.push(teacherid)
            var user_nickname=''
            if(data[i].nickname.indexOf(nianguan)==-1){
                user_nickname=data[i].nickname
            }else {
                user_nickname=data[i].nickname.split(nianguan)[0]+'<img style="width:15px;height:15px;margin-top:-3px;" src="/play/fanli4/nianguan.gif?v=1">'+data[i].nickname.split(nianguan)[1]
            }
            str+= '<div class="follow_code_box fl">\
                <div class="follow_code_input"><input type="checkbox" value="'+ data[i].teacherid +'" class="follow_code_input_01"></div>\
                <a class="fl pr25 follow_code_headimg_border"  href="/play/'+data[i].teacherid+'/?gameid=31540" target="_blank"><div class="follow_code_headimg mt20"><img src="'+data[i].avatar+'" onerror="this.src=\'https://uc.tuwan.com/images/noavatar_1.jpg\'"></div></a>\
                <div class="fl ml25 mt10">\
                    <a class="follow_code_name"  href="/play/'+data[i].teacherid+'/?gameid=31540" target="_blank">'+user_nickname+'</a>\
                    <div class="follow_runk">\
                        <div class="fl '+like_runk_box+' mr10">\
                            <div class="'+vip_runk+'">'+data[i].level+'</div>\
                            <img src="https://res.tuwan.com/templet/play/teacher/images/jibie_0'+data[i].levelicon+'.png?0009">\
                        </div>\
                        <div class="fl like_runk">魅力值：'+data[i].score+'</div>\
                        <div class="clearfix"></div>\
                    </div>\
                    <div class="follow_hover_box" tid="'+ data[i].teacherid +'"><img src="./img/follow_hover.png" class="follow_hover_01">&nbsp;取消关注</div>\
                </div>\
                <div class="clearfix"></div>\
            </div>'
        }
        $('.follow_code_subbox').html(str);
        $(".gift_list_allnumber").html(obj.total);
    }else{
        $(".nofollow").show();
        $(".tcdPageCode").hide();
        $(".gift_list_allnumber").html(0);

    }

}*/


    $(document).on("click", ".follow_hover_box", function () {
        var n = $(this).attr("ttid");
        var r = confirm("您确定取消吗？");
        if (r == true) {
            removefollow(n);
        }
    });

    /*取消关注*/
    function removefollow(n) {
        $.ajax({
            url: '/cencelAttention',
            type: "post",
            dataType: "json",
            data: {zid:n,pid:pid},
            success: function (obj) {
                if (obj.result > 0) {
                    getAttentionList();
                }
                /*if(obj.error == 0){
                    n= n.toString();
                    var idsArr = n.split(",");
                    var num=$(".follow_code_box").length-idsArr.length
                    for(var i=0;i<idsArr.length;i++){
                        $(".follow_code_box input[value="+ idsArr[i] +"]").parents(".follow_code_box").remove();
                    }
                    if(num==0){
                        $(".nofollow").show();
                        $(".tcdPageCode").hide();
                        console.log($(".nofollow").length)
                    }
                    $(".gift_list_allnumber").html(num);

                }*/

            }
        });
    };
    /*全选*/
    jQuery(document).ready(function () {
        var flag = 0;
        $("#checkAll").on("change", function () {
            if (flag == 0) {

                $(".follow_code_input_01").show();
                $(".follow_code_input_01").prop("checked", true);
                flag = 1;
            } else {
                $(".follow_code_input_01").hide();
                $(".follow_code_input_01").prop("checked", false);
                flag = 0;
            }
        });
        $(document).on("click", ".follow_code_input_01", function () {
            var allLength = $(".follow_code_input_01").length
            var checkedLength = $(".follow_code_input_01:checked").length;
            if (allLength == checkedLength) {
                $("#checkAll").prop("checked", true);
            } else {
                $("#checkAll").prop("checked", false);
                flag = 0
            }

        });
        /*全选取消关注*/
        $(document).on("click", ".follow_box", function () {
            if ($(".follow_code_input_01:checked").length > 0) {
                var r = confirm("您确定取消吗？");
                if (r) {
                    var ids = [];
                    $(".follow_code_input_01:checked").each(function () {
                        if ($(this).prop("checked")) {
                            ids.push($(this).val());
                        }
                    })
                    removefollow(ids.join(","));
                }
            }
        });
    });

</script>
</body>
</html>