<!DOCtype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>电竞陪玩|约玩_电竞_绝地求生陪玩_LOL陪玩_王者荣耀陪玩</title>
    <meta name="keywords" content="电竞陪玩,游戏陪玩,约玩,陪玩入驻,绝地求生陪玩,LOL陪玩,王者荣耀陪玩,美女陪玩,大神陪玩,导师陪玩">
    <meta name="description" itemprop="description" content="电竞，是（国内）专业的游戏陪玩交友平台。电竞致力于为您提供贴心的专属陪伴；平台内百万大神美女导师24小时待命，随时陪你游戏，和你聊天，还可以哄你睡觉；游戏类型多样，妹子风格各异，任你选择。">
    <!-- 禁止IE强制识别手机号 -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- v2侧边栏样式-->
    <link type="text/css" rel="stylesheet" href="/css/top_footer.css">
    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
</head>
<body>

<footer>
    <div class="box">
        <div class="foot">
            <!--隐藏掉提现(隐藏提现)字样（2017-12-18）margin-left:-->
            <ul>
                <li>
                    <img src="https://yundown.daofengdj.com/static/public/img/ico_ft01.png">
                    <p>极速接单</p>
                    <span class="desc">秒接单 八分钟未接单立即退款</span>
                </li>
                <li>
                    <img src="https://yundown.daofengdj.com/static/public/img/ico_ft02.png">
                    <p>信息提醒</p>
                    <span class="desc">来单短信提醒 不错过订单</span>
                </li>
                <li>
                    <img src="https://yundown.daofengdj.com/static/public/img/ico_ft03.png">
                    <p>品质保障</p>
                    <span class="desc">服务不满意为您来免单</span>
                </li>
                <li>
                    <img src="https://yundown.daofengdj.com/static/public/img/ico_ft04.png">
                    <p>资金日结算</p>
                    <span class="desc">实时掌控工资 给你安心</span>
                </li>
                <li>
                    <img src="https://yundown.daofengdj.com/static/public/img/ico_ft05.png">
                    <p>7*24小时服务</p>
                    <span class="desc">自助下单 7*24小时客服答疑</span>
                </li>
            </ul>
        </div>

        <ul class="footCenter">
            <li class="li1">
                <div>
                    <img src="https://yundown.daofengdj.com/static/public/img/link.png">
                    <div style="line-height: 19px; margin-top: -2px;">
                        <a style="display:none;" target="_blank" href="https://www.zuhaowan.com"><img src="https://yundown.daofengdj.com/static/public/img/zuhaowna.png"  style="margin-top: 0px;"></a>
                        <a target="_blank" href="https://www.zuhaowan.com"><p>租<i style="display:inline-block;width:.5em;"></i>号<i style="display:inline-block;width:.5em;"></i>玩 - 账号租借平台</p></a>
                        <a target="_blank" href="http://www.mayidailian.com/"><p>蚂蚁代练 - 专业代练平台</p></a>
                        <a target="_blank" href="http://www.irollfun.com/"><p>rollfun游戏站</p></a>
                        <a target="_blank" href="http://www.99173.com/"><p>99173-游戏交易平台</p></a>
                        <a target="_blank" href="http://www.wyaq.com/"><p>无忧安全</p></a>
                    </div>
                </div>
            </li>
            <li class="sp"></li>
            <li class="li2">
                <div>
                    <img src="https://yundown.daofengdj.com/static/public/img/kefu.png">
                    <div>
                        <p>客服电话：0371-55637968</p>
                        <p>咨询时间：7 x 24 小时</p>
                    </div>
                </div>
            </li>
            <li class="sp"></li>
            <li class="li3">
                <div>
                    <img src="https://yundown.daofengdj.com/static/public/img/qq.png">
                    <div>
                        <p>客服QQ：3003120628</p>
                        <p>咨询时间：7 x 24 小时</p>
                    </div>
                </div>
            </li>
            <li msg="新需求隐藏" class="sp" style="display:none;"></li>
            <li msg="新需求隐藏" style="display:none;">
                <div>
                    <img src="https://yundown.daofengdj.com/static/public/img/new.png">
                    <div>
                        <a target="_blank" href="/help/peiwan.html"><p>陪玩新手引导</p></a>
                        <a target="_blank" href="/help/novice.html"><p>玩家新手引导</p></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box">
        <div class="footBottom">
            <div class="f_tx">
                <a target="_blank" href="/help/contact_us.html">联系我们</a>
                <a target="_blank" href="/help/company_profile.html">公司简介</a>
                <a target="_blank" href="/help/disclaimer.html">免责声明</a>
            </div>
            <p>版权所有 © 2017 安徽省刀锋网络科技有限公司 <a href="http://www.miitbeian.gov.cn">晥B2-20170045-5</a></p>
        </div>
    </div>
</footer>
</body>
</html>