<!DOCtype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>电竞陪玩|约玩_电竞_绝地求生陪玩_LOL陪玩_王者荣耀陪玩</title>
    <meta name="keywords" content="电竞陪玩,游戏陪玩,约玩,陪玩入驻,绝地求生陪玩,LOL陪玩,王者荣耀陪玩,美女陪玩,大神陪玩,导师陪玩">
    <meta name="description" itemprop="description" content="电竞，是（国内）专业的游戏陪玩交友平台。电竞致力于为您提供贴心的专属陪伴；平台内百万大神美女导师24小时待命，随时陪你游戏，和你聊天，还可以哄你睡觉；游戏类型多样，妹子风格各异，任你选择。">
    <!-- 禁止IE强制识别手机号 -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/top_footer.css">
    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
</head>
<body>

<!--改版新的页面-->
<div class="public_nav_new">
    <div class="info_v2 position">
        <div class="info">
            <div style="height: 0px;width: 100%;"></div>
            <h1>
                <a href="/"><img class="logo" alt="" src="/images/dudulogo.png"></a>
            </h1>
            <div class="p_nav">
                <div :class="[navIndex === 'index_index_index'?'active':'']"><!--三元运算符-->
                    <a href="/">
                        首页
                    </a>
                </div>
                <div :class="[navIndex === 'index_peiwan'?'active':'']">
                    <a href="/togame">
                        约陪玩
                    </a>
                </div>
                <div :class="[navIndex === 'index_price'?'active':'']">
                    <a href="/peiwan/price/">
                        9.9专区
                        <img src="/images/price.gif" alt="" class="icon">
                    </a>
                </div>
                <div :class="[navIndex === 'index_recharge'?'active':'']">
                    <!-- 未登录-->
                    <a href="/toHome">充值</a>
                </div>
            </div>
            <div class="seach_Box">
                <img src="/images/ico_28_hover.png" style="display: none;">
                <input id="personNickname" placeholder="陪玩昵称、ID、靓号" type="text" >
                <p @click="inputShow" id="searchinfo" class="seach_p"></p>
            </div>

            <div class="right">
                <img src="/images/ico_29_hover.png" style="display: none;">
                <img src="/images/ico_30_hover.png" style="display: none;">
                <img src="/images/ico_31_hover.png" style="display: none;">
                <div style="height: 0px;width: 100%;"></div>

                <div @click="login_fn" class="login style1">
                    <p></p>
                    <span>登录&nbsp;&nbsp;|&nbsp;&nbsp;注册</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--导航栏模糊查询的函数-->
<script>
    $("#searchinfo").click(function () {
        var keyname= $("#personNickname").val();
        window.location.href = 'toSearch';
        sessionStorage.setItem("keyname",keyname);
    });
</script>
<!---->

<script>
    (function(){
        //处理滚动后导航悬停
        var win_scroll = function(){
            var obj = document.querySelector(".public_nav_new .info_v2");
            var a = document.documentElement.scrollTop || document.body.scrollTop;//滚动条y轴上的距离

            if(a>70){
                obj.classList.add("position");
            }else{
                obj.classList.remove("position");
            }
        };
    }());
</script>
</body>
</html>