<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/public-head.css">
    <link rel="stylesheet" href="css/reset.css">
    
</head>
<body>
    <div class="w yuhead">
        <div class="yuewanlogo"><img src="picture/yuewanlogo.png" alt=""></div>
        <ul class="headNav">
            <li><a href="javascript:;">首页</a></li>
            <li><a href="javascript:;">约陪玩</a></li>
            <li><a href="javascript:;">训练营</a></li>
            <li><a href="javascript:;">9.9专区</a></li>
            <li><a href="javascript:;">充值</a></li>
            <li><a href="javascript:;">APP下载</a></li>
            <li id="head-sea"><input type="text" placeholder="搜索昵称、uid、靓号"></li>
        </ul>
        <div class="head-other">
            <a class="applyEnto" href="javascript:;">申请入驻</a>
            <a href="javascript:;">约玩大厅</a>|
            <a href="javascript:;">消息中心</a>|
            <a href="javascript:;">注册/登录</a>
        </div>
    </div>
</body>
</html>