<!DOCTYPE html>
<html>
<!---需要技术支持联系QQ：44312658--->
<head>
		<meta charset="utf-8">
		<title>注册界面</title>
		<link rel="stylesheet" href="/loginJC/css/reset.css" />
		<link rel="stylesheet" href="/loginJC/css/common.css" />
		<link rel="stylesheet" href="/loginJC/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="/plugins/layer/layer.css" />
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							注册
						</div>
						<form name="form" action="/registers" method="post" onSubmit="return beforeSubmitt(this);">
							
							<div class="form_text_ipt">
								<input id="personNickname" name="personNickname" type="text" placeholder="用户名" onblur="rname()">
							</div>
							<div class="form_text_ipt">
								<input id="personPwd" name="personPwd" type="password" placeholder="密码" onblur="rpwd()">
							</div>
							<div class="form_text_ipt">
								<input id="personPwds" name="personPwds" type="password" placeholder="重复密码" onblur="rpwds()">
							</div>
							<div class="form_text_ipt">
								<input id="personTel" name="personTel" type="text" style="width:120px;" placeholder="手机号" onblur="rtel()">
								<a href="#" onclick="sendCode()">点击获取验证码</a>
							</div>
							<div class="form_text_ipt">
								<input id="code" name="code" type="text" placeholder="验证码" onblur="rcode()">
								</div>
							<div class="form_btn">
								<button type="submit">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="index.html">马上登录</a>
							</div>
						</form>
						<div class="other_login">
							<div class="left other_left">
								<span>其它登录方式</span>
							</div>
							<div class="right other_right">
								<a href="#"><i class="fa fa-qq fa-2x"></i></a>
								<a href="#"><i class="fa fa-weixin fa-2x"></i></a>
								<a href="#"><i class="fa fa-weibo fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/loginJC/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/plugins/layer/layer.js" ></script>
		<script>
			var personNickname = document.getElementById("personNickname");
			var personPwd = document.getElementById("personPwd");
			var personPwds = document.getElementById("personPwds");
			var personTel = document.getElementById("personTel");
            var pattern = /^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/;
            var codes=/[1-9]\d{5}(?!\d)/;
            var code = document.getElementById("code");


            var nameState="";
            var checkSmsCode="";
            //表单里为空不能提交
            function beforeSubmitt(form){
                if (personNickname.value==""){
                    //layer.msg('用户名不能为空！');
                    form.personNickname.focus();//然后输入焦点或者光标定位到这个为空的文本框里。
                    return false;
                }
                if (nameState!=0){
                    //layer.msg("用户名已经存在");
                    form.personNickname.focus();//然后输入焦点或者光标定位到这个为空的文本框里。
                    return false;
				}

                if (personPwd.value==""){
                    //layer.msg('密码不能为空！');
                    form.personPwd.focus();//然后输入焦点或者光标定位到这个为空的文本框里。
                    return false;
                }
                if (personPwds.value==""){
                    //layer.msg('重复密码不能为空！');
                    form.personPwds.focus();//然后输入焦点或者光标定位到这个为空的文本框里。
                    return false;
                }else if (personPwd.value!=personPwds.value){
                    //layer.msg('请在次确定密码！');
                    form.personPwds.focus();
                    return false;
				}

                if (personTel.value==""){
                    //layer.msg('手机号不能为空！');
                    form.personTel.focus();
                    return false;
				}else if (!pattern.test(personTel.value)){
                    //layer.msg('手机号格式不对！');
                    form.personTel.focus();
                    return false;
				}

                if (code.value==""){
                    //layer.msg('验证码不能为空！');
                    form.code.focus();
                    return false;
                }else if(!codes.test(code.value)){
                    //layer.msg('验证码格式不对！');
                    form.code.focus();
                    return false;
                }else if (!checkSmsCode){
                    //layer.msg('请再次确定验证码！');
                    form.code.focus();
					return false
				}


			}
            //用ajax异步验证用户名
			function rname() {
                if (personNickname.value == "") {
                    layer.tips("用户名不能为空！", '#personNickname');
                } else {
                    $.ajax({
                        url: '/registerName',//跳到业务层
                        type: 'get',
                        dataType: 'json',
                        data:{
                            personNickname:personNickname.value
                        },
                        success: function (msg) {
                            nameState=msg.nameState;
                            if(nameState==0){
                                layer.tips("用户名可用！", '#personNickname');
                            } else {
                                layer.tips("用户名已经存在！", '#personNickname')
                            }
                        },
                        error: function () {

                        }
					});
                }
            }
            function rpwd() {
                if (personPwd.value==""){
                    layer.tips("密码不能为空！",'#personPwd');
                }
            }
            function rpwds() {
                if (personPwds.value==""){
                    layer.tips("重复密码不能为空！",'#personPwds');
                }else if(personPwd.value!=personPwds.value){
                    layer.tips("请在次确定两次输入的密码！",'#personPwds');
				}else {
				}
            }
            //手机号校验
            function rtel() {
                if (personTel.value==""){
                    layer.tips("手机号不能为空！",'#personTel');
                }else if(!pattern.test(personTel.value)){
                    layer.tips("手机号格式不对！",'#personTel');
                }
            }

            //发送验证码
			function sendCode() {

                if (personTel.value==""){
                    layer.tips("手机号不能为空！",'#personTel');
                }else if(!pattern.test(personTel.value)){
                    layer.tips("手机号格式不对！",'#personTel');
                }else {
                    layer.tips("验证码已经发送请注意查收！",'#personTel');
                    $.ajax({
                        url: '/sendCode',//跳到业务层
                        type: 'get',
                        dataType: 'json',
                        data:{
                            personTel:personTel.value
                        },
                        success: function (msg) {

                        },
                        error: function () {

                        }
                    });
				}

            }

            //验证码校验
			function rcode() {
                if (code.value==""){
                    layer.tips("验证码不能为空！",'#code');
                }else if(!codes.test(code.value)){
                    layer.tips("验证码格式不对！",'#code');
                }else{
                    $.ajax({
                        url: '/Ycode',//跳到业务层
                        type: 'get',
                        dataType: 'json',
                        data:{
                            personTel:personTel.value,
                            smscode:code.value
                        },
                        success: function (msg) {
                            layer.msg(msg.checkSmsCode);
                            checkSmsCode=msg.checkSmsCode;
                            if (checkSmsCode){
                                layer.tips("验证码可以注册！",'#code');
							} else {
                                layer.tips("验证码不匹配！",'#code');
                            }
                        },
                        error: function () {

                        }
                    });
				}

            }




		</script>

		<div style="text-align:center;">
</div>
	</body>
</html>
