
<!DOCtype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>陪玩搜索-刀锋电竞</title>
    <meta name="keywords" content="刀锋电竞陪玩,游戏陪玩,约玩,陪玩入驻,绝地求生陪玩,LOL陪玩,王者荣耀陪玩,美女陪玩,大神陪玩,导师陪玩">
    <meta name="description" itemprop="description" content="刀锋电竞，是（国内）专业的游戏陪玩交友平台。刀锋电竞致力于为您提供贴心的专属陪伴；平台内百万大神美女导师24小时待命，随时陪你游戏，和你聊天，还可以哄你睡觉；游戏类型多样，妹子风格各异，任你选择。">
    <!-- 禁止IE强制识别手机号 -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/public.css">
    <!--头部和尾部样式-->
    <link rel="stylesheet" href="/css/top_footer.css">
    <!--导航栏跳转到的页面的样式-->
    <link rel="stylesheet" href="/css/search.css">
    <!--v2侧边栏样式-->
    <link rel="stylesheet" href="/css/sidebar.css">

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue-resource.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/store.legacy.min.js"></script><!--图片懒加载-->
    <script type="text/javascript" src="/js/fzjs/websocket.js"></script>

</head>
<body>


<!--改版新的页面-->
<div class="public_nav_new">
    <div class="info_v2 position">
        <div class="info">
            <div style="height: 0px;width: 100%;"></div>
            <h1>
                <a href="/person/toIndex"><img class="logo" alt="飞虎电竞" src="/images/yuewanlogo.png"></a>
            </h1>
            <div class="p_nav">
                <div :class="[navIndex === 'index_index_index'?'active':'']"><!--三元运算符-->
                    <a href="/person/toIndex">
                        首页
                    </a>
                </div>
                <div :class="[navIndex === 'index_peiwan'?'active':'']">
                    <a href="/person/toMore">
                        约陪玩
                    </a>
                </div>
                <div :class="[navIndex === 'index_price'?'active':'']">
                    <a href="/person/toAreaList?gid=1001">
                        9.9专区
                        <img src="/images/price.gif" alt="" class="icon">
                    </a>
                </div>
                <div :class="[navIndex === 'index_list_video'?'active':'']">
                    <a href="/peiwan/shangfen/">
                        上分专区
                    </a>
                </div>
                <div :class="[navIndex === 'index_recharge'?'active':'']">
                    <!-- 未登录-->
                    <a href="javascript:;" @click="login_fn">充值</a>

                </div>
                <div :class="[navIndex === 'index_service'?'active':'']">
                    <!--未登录-->
                    <a href="javascript:;" @click="login_fn">申请入驻</a>
                </div>
                <div :class="[navIndex === 'activity'?'active':'']">
                    <a href="/activity/list.html" >
                        活动
                    </a>
                </div>

            </div>

            <div class="seach_Box">
                <img src="/images/ico_28_hover.png" style="display: none;">
                <input id="personNickname" placeholder="陪玩昵称、ID、靓号" type="text" >
                <p @click="inputShow" id="searchinfo" class="seach_p"></p>
            </div>


            <div class="right">
                <img src="/images/ico_29_hover.png" style="display: none;">
                <img src="/images/ico_30_hover.png" style="display: none;">
                <img src="/images/ico_31_hover.png" style="display: none;">
                <div style="height: 0px;width: 100%;"></div>

                <!--beforeLanding(登陆之前) -->
                <!--<div class="login style1" id="beforeLanding">
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a data-toggle="modal" data-target="#login" href="/toLogin"><span class="glyphicon glyphicon-log-in"></span>登录</a>
                            |
                            <a data-toggle="modal" data-target="#register" href="/toRegister"><span class="glyphicon glyphicon-user"></span>注册</a>
                        </li>
                    </ul>
                </div>-->
                <!--afterTheLanding(登陆过后)-->
                <!--<div class="login style1" id="afterTheLanding">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="personnames" href="/indexw"  th:text="${session.nameTPerson?.personNickname}"></a>&nbsp;&nbsp;<a data-toggle="modal" data-target="#login" href="/logout"><span class="glyphicon glyphicon-log-in"></span>退出登陆</a></li>
                    </ul>
                </div>-->

                <!-- <script th:inline="javascript">

                     &lt;!&ndash;登陆隐藏&ndash;&gt;
                     function LandingHide() {
                         $("#afterTheLanding").hide();
                     }


                     &lt;!&ndash;登陆过后隐藏显示&ndash;&gt;
                     function LandingHides() {
                         $("#beforeLanding").hide();
                     }
                     var nameTPerson = [[${session.nameTPerson?.personNickname}]];
                     /*alert(nameTPerson);*/
                     if (nameTPerson==null||nameTPerson==0) {
                         LandingHide();
                     } else{
                         LandingHides();
                     }

                 </script>-->


                <div @click="login_fn" class="login style1">
                    <p></p>
                    <span>登录&nbsp;&nbsp;|&nbsp;&nbsp;注册</span>
                </div>


            </div>
        </div>

    </div>

    <!--导航栏模糊查询的函数-->
    <script>
        $("#searchinfo").click(function () {
            var keyname= $("#personNickname").val();
            window.location.href = 'toSearch';
            sessionStorage.setItem("keyname",keyname);
        });
    </script>

    <script>
        (function(){
            //处理滚动后导航悬停
            var win_scroll = function(){
                var obj = document.querySelector(".public_nav_new .info_v2");
                var a = document.documentElement.scrollTop || document.body.scrollTop;//滚动条y轴上的距离

                if(a>70){
                    obj.classList.add("position");
                }else{
                    obj.classList.remove("position");
                }
            };

        }());
    </script>
</div>


<!-- main-wrap -->
<div id='search' v-cloak>
    <div class="searchTop">
        <div class="topcon">
            <a href=" ">
                <img src="/images/searchbanner.png">
            </a>
        </div>
    </div>
    <div class="swrap">
        <!-- 列表展示 -->
        <div class="player">
            <div class="hot-player-con">
                <div v-for='item in searchList'>
                    <a :href="'./hello2?zid='+item.pid+'&gid='+item.gid" target="_blank">
                        <div class="frame_logo_wrapper" :class="item.tags">
                            <!-- logo -->
                            <div class="pic_box">
                                <img :src="'/picture/'+item.person_image" alt="" class="pic"><!--主播头像-->
                            </div>
                        </div>
                        <div class="player-info">
                            <span><i class="text">{{item.person_nickname}}</i></span>
                            <span>{{item.g_name}}</span>
                        </div>
                        <div class="player-money">
                            <p>
                                <span>¥{{item.g_price}}</span>/小时
                            </p>
                        </div>
                    </a>
                </div>
                <!-- 没有数据 -->
                <ul v-show="bgclass" style="padding-bottom:27px;">
                    <li style="text-align:center;"><img src="/images/search.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--模糊查询到的主播的函数-->
<script>

    var search = new Vue({
        el: '#search',
        data: {
            bgclass:false , //没有数据
            searchList: []
        }
    });

    window.onload = function(){
        var keyname = sessionStorage.getItem("keyname");
        console.log(keyname);
        getUserPageList(keyname);

        function getUserPageList(keyname) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/person/searchPerson',
                data: {
                    personNickname:keyname
                },
                success: function (msg) {
                    search.searchList = msg.searchPersonList;
                    if (msg.searchPersonList.length==0) {
                        search.bgclass = true;
                    }
                }
            });
        }
    };

    /*search页面导航栏查询函数*/
    $("#searchinfo").click(function () {
        var keyname= $("#personNickname").val();
        getUserPageList(keyname);
        function getUserPageList(keyname) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/person/searchPerson',
                data: {
                    personNickname: keyname
                },
                success: function (msg) {
                    search.searchList = msg.searchPersonList;
                    if (msg.searchPersonList.length==0) {
                        search.bgclass = true;
                    }
                }
            });
        }
    });

</script>


<footer>
    <div class="box">
        <div class="foot">
            <!--隐藏掉提现(隐藏提现)字样（2017-12-18）margin-left:-->
            <ul>
                <li>
                    <img src="/images/ico_ft01.png">
                    <p>极速接单</p>
                    <span class="desc">秒接单 八分钟未接单立即退款</span>
                </li>
                <li>
                    <img src="/images/ico_ft02.png">
                    <p>信息提醒</p>
                    <span class="desc">来单短信提醒 不错过订单</span>
                </li>
                <li>
                    <img src="/images/ico_ft03.png">
                    <p>品质保障</p>
                    <span class="desc">服务不满意为您来免单</span>
                </li>
                <li>
                    <img src="/images/ico_ft04.png">
                    <p>资金日结算</p>
                    <span class="desc">实时掌控工资 给你安心</span>
                </li>
                <li>
                    <img src="/images/ico_ft05.png">
                    <p>7*24小时服务</p>
                    <span class="desc">自助下单 7*24小时客服答疑</span>
                </li>
            </ul>
        </div>

        <ul class="footCenter">
            <li class="li1">
                <div>
                    <img src="/images/link.png">
                    <div style="line-height: 19px; margin-top: -2px;">
                        <a target="_blank" href="https://www.zuhaowan.com"><p>租<i style="display:inline-block;width:.5em;"></i>号<i style="display:inline-block;width:.5em;"></i>玩 - 账号租借平台</p></a>
                        <a target="_blank" href="http://www.mayidailian.com/"><p>蚂蚁代练 - 专业代练平台</p></a>
                        <a target="_blank" href="http://www.irollfun.com/"><p>rollfun游戏站</p></a>
                        <a target="_blank" href="http://www.99173.com/"><p>99173-游戏交易平台</p></a>
                        <a target="_blank" href="http://www.wyaq.com/"><p>无忧安全</p></a>
                    </div>
                </div>
            </li>
            <li class="sp"></li>
            <li class="li2">
                <div>
                    <img src="/images/kefu.png">
                    <div>
                        <p>客服电话：0371-55637968</p>
                        <p>咨询时间：7 x 24 小时</p>
                    </div>
                </div>
            </li>
            <li class="sp"></li>
            <li class="li3">
                <div>
                    <img src="/images/qq.png">
                    <div>
                        <p>客服QQ：3003120628</p>
                        <p>咨询时间：7 x 24 小时</p>
                    </div>
                </div>
            </li>
            <li msg="新需求隐藏" class="sp" style="display:none;"></li>
            <li msg="新需求隐藏" style="display:none;">
                <div>
                    <img src="/images/new.png">
                    <div>
                        <a target="_blank" href="/help/peiwan.html"><p>陪玩新手引导</p></a>
                        <a target="_blank" href="/help/novice.html"><p>玩家新手引导</p></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="box">
        <div class="footBottom">
            <div class="f_tx">
                <a target="_blank" href="/help/contact_us.html">联系我们</a>
                <a target="_blank" href="/help/company_profile.html">公司简介</a>
                <a target="_blank" href="/help/disclaimer.html">免责声明</a>
            </div>
            <p>版权所有 © 2017 安徽省刀锋网络科技有限公司 <a href="http://www.miitbeian.gov.cn">晥B2-20170045-5</a></p>
        </div>
    </div>

</footer>

<!--侧边栏-->
<div id="sidebar-vm" class="flying-vm">
    <aside class="live-sidebar-ctnr a-move-in-left ts-dot-4">
        <span>

            <div title="聊天和系统信息" class="sidebar-btn a-move-in-left message" onclick="tel_login_v1.bindPopShowFun(1)">
                <div class="icon-ctnr">
                    <i class="btn-icon svg-icon menu-live-hover icon_message "></i>
                </div>
                <div class="label-ctnr"><span>私信</span></div>
            </div>

            <div title="在线客服" class="sidebar-btn a-move-in-left" onclick='kefuWindow()'>
                <div class="icon-ctnr">
                    <i class="btn-icon svg-icon menu-live-hover icon_service"></i>
                </div>
                <div class="label-ctnr"><span>在线客服</span></div>
            </div>
            <div title="APP下载" class="sidebar-btn a-move-in-left app_download" >
                <div class="icon-ctnr"><i class="btn-icon svg-icon live-room icon_app"></i></div>
                <div class="label-ctnr"><span>APP下载</span></div>
                <div class="side-bar-popup-cntr ts-dot-4 click-open app_dw_content" >
                    <div data-v-7e05456a=""  class="follow-cntr">
                        <img src="https://yundown.daofengdj.com/static/public/img/sidebar/ico_12.png" alt="" class="icon">
                    </div>
                </div>
            </div>
            <div title="公众号" class="sidebar-btn a-move-in-left wechat_box" >
                <div class="icon-ctnr"><i class="btn-icon svg-icon live-room icon_wechat"></i></div>
                <div class="label-ctnr"><span>公众号</span></div>
                <div class="side-bar-popup-cntr ts-dot-4 click-open" >
                    <div data-v-7e05456a=""  class="follow-cntr">
                        <img src="https://yundown.daofengdj.com/static/public/img/gzh_code_1.png" alt="" class="icon">
                    </div>
                </div>
            </div>
            <div title="陪玩群" class="sidebar-btn a-move-in-left">
                <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5W4hoPw">
                    <div class="icon-ctnr"><i class="btn-icon svg-icon ranking icon_QQ"></i></div>
                    <div class="label-ctnr"><span>陪玩群</span></div>
                </a>
            </div>
            <div @click="feedback" title="意见反馈" class="sidebar-btn a-move-in-left">
                <div class="icon-ctnr"><i class="btn-icon svg-icon concerned icon_notice"></i></div>
                <div class="label-ctnr"><span>意见反馈</span></div>
            </div>

            <div title="回到顶部" class="sidebar-btn a-move-in-left no-label" onclick="totop()">
                <div class="icon-ctnr"><i class="btn-icon svg-icon s-top icon_top"></i></div>
            </div>
        </span>

    </aside>
</div>

</body>
</html>