<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全中心-约玩</title>
    <link href="./css/Security_Center_2.css" type="text/css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no">
    <script src="./js/jquery-1.12.3.min.js"></script>
    <link href="./css/newcommon_admin.css" type="text/css" rel="stylesheet">
    <script src="./js/lrz.js"></script>
    <script src="./js/exif.js"></script>
    <script src="./js/jquery-1.12.3.min.js"></script>
    <script src="./js/jsencrypt.min.js"></script>
    <script src="./js/getRSAKey.js"></script>
    <script src="./js/encryption.js"></script>
    <script src="./js/gt.js"></script>
</head>
<style>
    .add_input {
        border: 1px solid #fa323c;
    }
    .input_validate:focus {
        border: 1px solid #25e198;
    }
    #Security_box .user_name002 {
        background-position: -182px -47px;
    }
    .video_box {
        background: url(./static/img/top_bg.jpg) repeat-x;
        width: 100%;
        height: 7px;
        margin-top: -12px;
    }
    .header-cell{ background: #fff; }
</style>
<body>
<!--修改手机号-->
<div id="Bound_phone" style="display:none;">
    <div class="pop_up_bg"></div>
    <div class="Bound_cell">
        <div class="layer-cell-close"></div>
        <div class="input_title mb40">绑定手机</div>

        <div class="mb10 input_text">手机号(请输入11位手机号码)</div>
        <input type="text" class="input_box" id="ctl00_mainContent_txt_phone">
        <div class="mb10 input_text mt30">密码(账户密码)</div>
        <input type="password" class="input_box" id="chk_tel_pwd">
        <div class="mb10 input_text mt30">验证码(请输入短信验证码)</div>
        <input type="text" class="input_validate fl" id="ctl00_mainContent_txt_code">
        <input type="button" class="input_validate input_validate01 fl ml10" value="获取验证码" id="getcode">
        <div class="clearfix"></div>
        <div style="margin: 20px auto;text-align: center;color: red;" id='errMsgBox'>&nbsp;</div>
        <div class="input_sure mt45" onclick="bindphone();" style="margin-top: 20px;"> 确认修改</div>
    </div>
</div>
<!--修改密码弹窗-->
<div id="Modify_password" style="display:none;">
    <div class="pop_up_bg"></div>
    <div class="password_cell">
        <div class="layer-cell-close"></div>
        <div class="input_title mb40 mt20">修改密码</div>
        <div class="mb10 input_text">旧密码<span>（请输入旧密码）</span></div>
        <input type="password" id="oldpwd"  class="input_box">
        <div class="mb10 input_text mt30">新密码<span>（密码长度6-20位）</span></div>
        <input type="password" id="ctl00_mainContent_txt_password" class="input_box">
        <div class="mb10 input_text  mt30">确认新密码<span>（密码长度6-20位）</span></div>
        <input type="password" id="repeatpwd" class="input_box">
        <div class="input_sure mt45" onclick="changepwd();"> 确认修改</div>
    </div>
</div>

<div id="Security_box" class="left_margin">
    <div class="Security_left">
        <div class="Security_title">安全中心</div>
        <div class="star_title_box" style="display: none;">
            <div class="fl star_title"> 账号安全级别:</div>
            <i class="icon_bg_02 fl ml20"></i>
            <i class="icon_bg_02 fl ml5"></i>
            <i class="icon_bg_02 fl ml5"></i>
            <i class="icon_bg_02 fl ml5"></i>
            <i class="icon_bg_02 fl ml5"></i>
            <div class="fl star_text01 ml15" id="pointclass"></div>
            <div class="clearfix"></div>
        </div>
        <div class="user_name_box">
            <i class="icon_bg_02  user_name fl ml20"></i>
            <div class="fl  user_name_01">用户名:</div>
            <div class="fl  user_color" id="username"></div>
            <div class="clearfix"></div>
        </div>
        <div class="user_name_box">
            <i class="icon_bg_02  user_name01 fl ml20"></i>
            <div class="fl  user_name_01">登录密码:</div>
            <div class="fl user_color">***********</div>
            <div class="fr mr50 user_cousor user_cousor_01"> 修改</div>
            <div class="clearfix"></div>
        </div>
        <div class="user_name_box">
            <i class="icon_bg_02 user_name002 user_name02 fl ml20"></i>
            <div class="fl  user_name_01">手机号码:</div>
            <div class="fl user_color" id="telnum"></div>
            <div class="fl display_none display_none01" id="edittel"> 未绑定</div>
            <div class="fr mr50 user_cousor user_cousor_02" style="display:none;" id="edittel1"> 修改</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script src="./js/Security_Center_2.js"></script>
<script>
    var point = 2;
    $.ajax({
        url: "userextinfo",
        dataType: 'jsonp',
        success: function (obj) {
            if (obj.code == 0) {

                $('#username').html(obj.data['username']);

                if (obj.data['tel'].length > 0) {
                    point++;
                    $('#telnum, .input_box01').html(obj.data['tel']);
                    $('#edittel').hide();
                    $('#edittel1').show();
                    $('.display_none03').click(function() {
                        $('#Modify_alipay').show();

                    })
                    $('.display_none02').click(function() {
                        $('#Modify_wechat').show();

                    })
                    $('.user_name002').removeClass('user_name002');
                } else {
                    $('.display_none03, .display_none02').click(function() {
                        alert("请先绑定手机号");
                    })
                    $('#edittel1').hide();
                    $('#edittel').show();
                }
                for (var i = $('.star_title_box i').length - 1; i >= 0; i--) {
                    if(point == 0){
                        var pointclass = 'star_text03';
                        $('.star_title_box i').eq(i).addClass('star_04');
                    }else if(point>0 && point<=2){
                        var pointclass = 'star_text03';
                        if(i<point){
                            $('.star_title_box i').eq(i).addClass('star_01');
                        }else{
                            $('.star_title_box i').eq(i).addClass('star_04');
                        }
                    }else if(point>2 && point<=4){
                        var pointclass = 'star_text02';
                        if(i<point){
                            $('.star_title_box i').eq(i).addClass('star_02');
                        }else{
                            $('.star_title_box i').eq(i).addClass('star_04');
                        }
                    }else if(point==5){
                        var pointclass = 'star_text01';
                        $('.star_title_box i').eq(i).addClass('star_03');
                    }
                }
                var points = point*20;
                $('#pointclass').html('<span>'+points+'</span>分');
                $('#pointclass').addClass(pointclass);
            }
        }
    })

</script>
</body>
</html>