<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/dateRange.css?06" />
    <script src="./js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="./js/dateRange.js"></script>
    <link href="./css/newcommon_admin.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="record" class="left_margin">
    <div class="seek_time_box">
        <div class="record_title"><b>交易记录</b></div>
        <div class="seek_time">
            <div class="fl mt35 seek_box">
                <div class="fl mt5"> 交易方式：</div>
                <select id="type"  class="ta_date fl">
                    <option value="0">全部</option>
                    <option value="2">消费</option>
                    <option value="3">退款</option>
                    <option value="9">红包</option>
                </select>
                <div class="clearfix"></div>
            </div>

            <div class="fr balance_box mt25">
                <div class="account">账户余额（元）</div>
                <div class="account_time account_time_01">钱</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="business_box">
        <div class="business_time fl">交易时间</div>
        <div class="business_explain fl">交易说明</div>
        <div class="business_account fl">交易账户</div>
        <div class="business_after fl">金额(元)</div>
        <div class="clearfix"></div>
    </div>
    <div class="order_form" style="display: none;">
        <img src="./img/order_form.png"></div>
    <!-- 判断交易记录是否存在 -->
    <script type='text/javascript'>$('.order_form').css({display: 'block'});</script>
</div>
<div id="paging_box" >
    <ul class="paging_box mt30 mb50">
    </ul>
    <label class="ye" style="display: none;"></label>
</div>
<script>
    //函数页码
    var longs = 0;
    $("#type option:first").prop("selected", 'selected');
    $.extend({'yema':function(page,pagesize){
            var ty = $('#type').val();
            $.ajax({
                url: "/trecordb?format=jsonp&index="+page+"&count="+pagesize+"&type="+ty,
                type: "get",
                dataType: "jsonp",
                success:function(tmp){
                    //判断数据是否存在
                    if (tmp.list) {
                        $('.order_form').css({
                            display: 'none'
                        });
                        $('.business_bigbox').css({
                            display: 'block'
                        });
                        //longs 总页数
                        longs = Math.ceil(tmp.total/8);
                        $('.ye').text(page);//放到隐藏域中
                        //拼接页码html
                        var str ='';
                        if (longs == 1) {
                            str = '';
                        }else if (longs<8) {
                            for (var i = 1; i <= longs; i++) {
                                str += '<li class="fen">'+i+'</li>';
                            }
                        }else if(page<=4){
                            for (var i = 1; i <= 7; i++) {
                                str += '<li class="fen">'+i+'</li>';
                            }
                            str += '<li class="fen" >&gt</li><li class="fen">尾页</li>';
                        }else if(page>=longs-3){
                            str += '<li class="fen">首页</li><li class="fen">&lt</li>';
                            for (var i = longs-6; i <= longs; i++) {
                                str += '<li class="fen">'+i+'</li>';
                            }
                        }else{
                            str += '<li class="fen">首页</li><li class="fen">&lt</li>';
                            var j = page-3;
                            for (var i = j; i < j+7; i++) {
                                str += '<li class="fen">'+i+'</li>';
                            }
                            str += '<li class="fen" >&gt</li><li class="fen">尾页</li>';
                        }
                        str += '<div class="clearfix"></div>';
                        //替换页码html
                        $('.paging_box').html(str);
                        //数据替换
                        var data = tmp.list;
                        var str = '';
                        var i=0;
                        for(var j = 0;j<data.length;j++){
                            str +=  i%2==0?"<div class='business_box' style='background:#f9f9f9;'>" +
                                "<div class='business_time fl'>":"<div class='business_box'><div class='business_time fl'>";
                            str += data[j].time;
                            str +="</div><div class='business_explain fl'>";
                            var type = '';
                            var tt ='';
                            switch (data[j].type+''){
                                case "1":
                                    type="充值";
                                    break;
                                case "2":
                                    type="消费";
                                    break;
                                case "3":
                                    type="退款";
                                    break;
                                case "4":
                                    type="提现";
                                    break;
                                case "5":
                                    type="收益";
                                    break;
                                case "6":
                                    type="渠道收入";
                                    break;
                                case "7":
                                    type="扣款";
                                    break;
                                case "8":
                                    type="礼物";
                                    break;
                                case "9":
                                    type="红包";
                                    break;
                                case "10":
                                    type="送红包";
                                    break;
                                case "2000":
                                    type="消费-现金支付";
                                    break;
                                case "2001":
                                    type="消费-余额支付";
                                    break;
                                default:
                                    type="未知";
                            }
                            str +=type;
                            str +="</div><div class='business_account fl'>"
                            if (type == "消费-现金支付") {
                                tt = '现金支付';
                            }
                            if(type == "消费-余额支付"){
                                tt = '余额支付';
                            }
                            if (type == '消费') {
                                tt = '消费';
                            }
                            else if(data[j].tt==1){tt='支付宝';}
                            else if(data[j].tt==2){tt='微信';}
                            else if(data[j].tt==3){tt='微信';}
                            else if(data[j].tt == undefined){tt='个人账户：'+data[j].uid;}
                            if(type == '退款') tt='个人账户：'+data[j].uid;
                            str +=tt;
                            if(type=='提现' || type=='消费' || type=="消费-现金支付" || type=="消费-余额支付" || type=="扣款" || type == "送红包"){
                                var sss = " style='color: #ff6870;'";
                                var price = "-"+(data[j].price/100).toFixed(2);
                            }else{
                                var sss =" style='color:#25e198;'";
                                var price = "+"+(data[j].price/100).toFixed(2);
                            }
                            str +="</div><div class='business_after fl'"+sss+">";
                            str +=price;
                            str +="</div><div class='clearfix'></div></div>";
                            i++;
                        }
                        $('.business_bigbox').html(str);
                        $('.fen').each(function() {
                            if ($(this).text()==page) {
                                $(this).css({
                                    border: 'solid 1px #25e198',
                                    background: '#25e198',
                                    color: '#fff'
                                });
                            }else{
                                $(this).css({
                                    border: '',
                                    background: '',
                                    color: ''
                                });
                            }
                        });
                    }else{
                        $('.order_form').css({
                            display: 'block'
                        });
                        $('.business_bigbox').css({
                            display: 'none'
                        });
                        $('.paging_box').html('');
                    }
                }

            });
        }})
    //页码点击事件
    $(document).on("click",'.fen',function(event) {
        var page = $(this).text();
        // alert(page);
        if (page == "首页") {
            page=1;
        }else if (page =="尾页") {
            page= longs;
        }else if (page == '<') {
            page = $('.ye').text();
            page--;
        }else if (page == '>') {
            page = $('.ye').text();
            page++;
        }
        var pagesize = 8;
        $.yema(page,pagesize);
    });
    //查找事件
    $('#type').change(function(event) {
        $.yema(1,8);
    });
    $('.business_bigbox .business_box:even').css('background', '#f9f9f9');
    $.yema(1,8);
</script>
</body>
</html>