<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>点点约玩</title>
    <link rel="stylesheet" type="text/css" href="css/zuboInfo.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/top_footer.css">
    <script src="/js/vue.min.js"></script>
</head>

<body>
<div class="body">
    <!-- 头部zubo-title -->
    <div class="zubo-title" id="qweqwe">
        <div class="title-meta">
            <div class="zuboImg">
                <img :src="'./picture/'+result.personImage" alt="">
            </div>
            <div class="title-info">
                <div class="name">{{result.personNickname}}</div>
               <!-- <img class="test" src="/images/8.gif">目前没有冠名功能-->
                <div class="credit">信用值：{{result.personWeight}}<img src="/picture/1.png"></div>
            </div>
        </div>
        <div class="zubo-gift">
            <p><span>小a</span>送给<span>小b</span><i></i></p>
            <p><span>小a</span>送给<span>小b</span><i></i></p>

        </div>
        <div class="zubo-other">
            <div class="wechart">微信下单</div>
            <div class="share">
                <i></i>
                <span><a href="#" @click="editEvent()">分享</a></span>
            </div>
            <div class="like">
                <i></i>
                <span>关注</span>
            </div>
            <span class="age">
                    <i></i>&nbsp;&nbsp;{{result.personBirthday}}<!--年龄-->
                </span>
            <span class="ad">
                    <i></i>&nbsp;&nbsp;{{result.personAdress}}<!--住址-->
                </span>
            <span class="data">
                    <i></i>&nbsp;&nbsp;48天前
                </span>
        </div>
    </div>

    <div class="zubo-cont" id="zhubotouxaing">
        <div class="left">
            <!-- 内容区：左侧头部 -->
            <div class="left-top">
                <div class="zuboTab">
                    <div class="tabCont">
                        <img :src="'./picture/'+zbt.personImage" alt="">
                    </div>
                    <div class="tabDot">
                        <div class="tabDotImg">
                            <img :src="'./picture/'+zbt.personImage" alt="">
                        </div>
                        <div class="tabDotImg">
                            <img :src="'./picture/'+zbt.personImage" alt="">
                        </div>
                        <div class="tabDotImg">
                            <img :src="'./picture/'+zbt.personImage" alt="">
                        </div>
                        <div class="tabDotImg">
                            <img src="/picture/30_avatar_middle.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="giftTab">
                    <div class="tabDot">
                        <div>礼物</div>&nbsp;&nbsp;|
                        <div>冠名</div>
                        <div>活动礼</div>
                        <div>包裹</div>
                    </div>
                    <div class="tabCont">
                        <ul class="tabCont-box">
                            <li>
                                <img src="/picture/1292451542357555.png" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/1292451542357555.png" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/1292451542357555.png" alt="">
                                <div>感恩的心</div>
                            </li>
                        </ul>
                        <ul class="tabCont-box">
                            <li>
                                <img src="/picture/2090801542354414.gif" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/2090801542354414.gif" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/2090801542354414.gif" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/2090801542354414.gif" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/1292451542357555.png" alt="">
                                <div>感恩的心</div>
                            </li>
                            <li>
                                <img src="/picture/1292451542357555.png" alt="">
                                <div>感恩的心</div>
                            </li>
                        </ul>
                    </div>
                    <div class="last">剩余钻石：0</div>
                </div>
                <div class="sendGift">
                    <div class="left">
                        <i></i>香吻
                    </div>
                    <div class="ipt">
                        <div class="num">数量</div>
                        <input type="text" value="1">
                        <div class="img">
                            <img src="/picture/top_kong_hover.png" alt="">
                        </div>

                    </div>
                    <div class="send">
                        <div class="sendgift">赠送</div>
                        <div class="img">
                            <img src="picture/common_bottom.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <!-- 内容区：左侧底部 -->
            <div class="left-bottom">
                <div class="zuboInfo">
                    <div class="zuboInfo-title">资料</div>
                    <ul class="zuboCont">
                        <li>
                            <img src="/picture/data_01.png" alt="">
                            <span>身高</span>:{{zbt.personHeight}}
                        </li>
                        <li>
                            <img src="/picture/data_02.png" alt="">
                            <span>星座</span>:{{zbt.personSex}}
                        </li>
                        <li>
                            <img src="/picture/data_03.png" alt="">
                            <span>职业</span>:{{zbt.personCareer}}
                        </li>
                        <li>
                            <img src="/picture/data_04.png" alt="">
                            <span>魅力部位</span>:{{zbt.personHeight}}
                        </li>
                        <li>
                            <img src="/picture/data_05.png" alt="">
                            <span>个性标签</span>:{{zbt.personContent}}
                        </li>
                        <li>
                            <img src="/picture/data_06.png" alt="">
                            <span>兴趣爱好</span>:{{zbt.personInterest}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!---->
        <div class="right">
            <div class="right-top">
                <div class="right-protecter">
                    <div class="pro-tit">
                        <img src="/picture/gift_top.png" alt="">
                        <div>守护者</div>
                    </div>
                    <ul class="proCont-list">
                        <li class="proCont-item">
                            <img class="avatar" src="/picture/56_avatar_middle.jpg">
                            <img class="top" src="/picture/one_top.png" alt="">
                            <img class="bottom" src="picture/one_bottom.png" alt="">
                            <div>米迦文</div>
                        </li>
                        <li class="contri">
                            <span>贡献值</span>
                            <div>
                                <div></div>
                            </div>
                            <span>17213</span>
                        </li>

                        <li class="proCont-item">
                            <img class="avatar" src="/picture/56_avatar_middle.jpg">
                            <img class="top" src="/picture/two_top.png" alt="">
                            <img class="bottom" src="/picture/two_bottom.png" alt="">
                            <div>米迦文</div>
                        </li>
                        <li class="contri">
                            <span>贡献值</span>
                            <div>
                                <div></div>
                            </div>
                            <span>17213</span>
                        </li>

                        <li class="proCont-item">
                            <img class="avatar" src="/picture/56_avatar_middle.jpg">
                            <img class="top" src="/picture/three_top.png" alt="">
                            <img class="bottom" src="/picture/three_bottom.png" alt="">
                            <div>米迦文</div>
                        </li>
                        <li class="contri">
                            <span>贡献值</span>
                            <div>
                                <div></div>
                            </div>
                            <span>17213</span>
                        </li>

                        <li class="proCont-item">
                            <img class="avatar" src="picture/56_avatar_middle.jpg">
                            <img class="bottom" src="picture/five_bottom.png" alt="">
                            <div>米迦文</div>
                        </li>
                        <li class="contri">
                            <span>贡献值</span>
                            <div>
                                <div></div>
                            </div>
                            <span>17213</span>
                        </li>

                        <li class="proCont-item">
                            <img class="avatar" src="picture/56_avatar_middle.jpg">

                            <img class="bottom" src="picture/four_bottom.png" alt="">
                            <div>米迦文</div>
                        </li>
                        <li class="contri">
                            <span>贡献值</span>
                            <div>
                                <div></div>
                            </div>
                            <span>17213</span>
                        </li>
                    </ul>
                </div>
                <div class="right-gifts">
                    <div class="gifts-tit">
                        <div class="gif-tit">
                            <img src="picture/gift_bottom.png" alt="">
                            <div>礼物</div>
                        </div>
                    </div>
                    <ul class="gifts-list">
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                        <li>
                            <img src="picture/1142101545745926.png" alt="">
                            <div>1</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-tab">
                <div class="rightTab-nav">
                    <div>线上LOL</div>
                    <div>虚拟恋人</div>
                    <div>绝地求生</div>
                    <div>刺激战场</div>
                </div>
                <div class="rightTab-cont">
                    <div class="onlineLol">
                        <div class="lol-head">
                            <div class="left">
                                <div class="radio">
                                    <img src="picture/lol.png" alt="">
                                    <!-- <div>
                                        <audio controls src="https://img3.tuwandata.com/uploads/play/mp3/9882011502542561.mp3"></audio>
                                    </div> -->

                                </div>
                                <div class="Lol-meta">
                                    <div class="name">线上LOL</div>
                                    <div class="garde">璀璨钻石V</div>
                                    <div class="order-btn">
                                        <img src="picture/order_btn.png" alt="">
                                        <span>接单次数:527次</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="price">
                                    <span>￥45</span>/小时
                                </div>
                                <div class="order">下单约她</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bshare-custom" id="fenxiang">
    <div class="bsPromo bsPromo2"></div>
    <a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
    <a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a>
    <a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
    <a title="分享到QQ空间" class="bshare-qzone"></a>
    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
    <span class="BSHARE_COUNT bshare-share-count" style="float: none;">OK思密达</span>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/layer.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="/js/zuboInfo.js"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>


</html>