<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peiwan.dao.ClassifyMapper">

    <!-- 通用查询映射结果 -->
    <!--<resultMap id="BaseResultMap" type="com.peiwan.bean.GSortDuanwei">
        <id column="aid" property="aid" />
        <result column="pid" property="pid" />
        <result column="z_zhubo" property="zZhubo" />
    </resultMap>

    &lt;!&ndash; 通用查询结果列 &ndash;&gt;
    <sql id="Base_Column_List">
        pid, aid, z_zhubo
    </sql>-->


    <!-- 动态查询 -->
    <select id="getCondition" parameterType="map" resultType="map">

        SELECT
        p.pid,p.person_nickname,p.person_sex,p.person_age,p.person_adress,p.person_coverphoto,g.gid,g.g_name,g.g_duanwei
        FROM p_person p
        LEFT JOIN g_service g ON p.pid=g.pid
        WHERE p.z_zhubo=1
        <if test="gid != null and gid != ''">
            and s.gid = #{gid}
        </if>
        <if test="gDw != null and gDw != ''">
            and gs.g_dw = #{gDw}
        </if>
        <if test="psex != null and psex != ''">
            and p.person_sex = #{psex}
        </if>


    </select>

</mapper>
